.btn {
    cursor: pointer;    
    font-family: $Poppins;
    font-weight: 700;
    padding: 17.83px 26.74px;
    border: 1px solid transparent;
    transition: all 0.3s linear;
    font-size: 17.83px;
    &--shop {
        background: none;
        // width: 85px;
        // height: 62.66px;
        // border-radius: 17.8px;
        position: relative;
        svg {
            fill: $purple;
            width: 35px;
            height: 35px;
            position: absolute; 
            top: 0;
            left: 28%;  
        }
    }

    // &--shop:hover {
    //     background: $bgwhite;
    //     border: 1px solid $purple;
    //     svg {
    //         fill: $purple;
    //     } 
    // }

    &--confirm {
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        width: 100%;
        padding: 25px;
        text-align: center;
    }

    &--confirm:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }
    
    &--get-started {
        font-weight: 500;
        border-radius: 12.4px;
        color: $bgwhite;
        line-height: 24px;
        text-transform: capitalize;
        margin-right: 18px;
        padding: 18px 30px;
        font-size: 16.27px;
        letter-spacing: 0.01em;
        background: $purple;
    }

    &--get-started:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--Go-pro {
        border: 1.5px solid $purple;
        color: $purple;
        font-weight: 500;
        border-radius: 12.4px;
        background: $bgwhite;
        line-height: 24px;
        text-transform: capitalize;
        padding: 18px 30px;
        font-size: 16.27px;
        letter-spacing: 0.01em;
    }

    &--Go-pro:hover {
        background: $purple;
        color: $bgwhite;
    }

    &--download {
        display: flex;
        background: $purple;
        font-weight: 500;
        width: 190px;
        padding: 9.5px 0px;
        border-radius: 12.4px;
        color: $bgwhite;
        line-height: 23px;
        text-transform: capitalize;
        align-items: center;
        justify-content: center;
        span {
            margin-left: 15px;
            margin-top: 7px;
        }
    }

    &--download:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
        span svg path{
            stroke: $purple;
        }
    }

    &--view-all {
        display: flex;
        background: none;
        color: #ACADB9;
        font-size: 20px;
        font-weight: 500;
        line-height: 45px; 
        letter-spacing: -0.1px;
        float: right;     color: $gray;   
        span {
            margin-left: 20px;
        }
    }

    &--subscribe {
        background: $purple;
        font-size: 15px;
        font-weight: 500;
        width: 135px;
        border-radius: 12.4px;
        color: $bgwhite;
        line-height: 1.5;
        letter-spacing: 0.443px;
        text-transform: uppercase;
    }

    &--subscribe:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--apply {
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        width: 100%;
        font-size: 13.73px;
        font-weight: 600;
        letter-spacing: -0.01em;
    }

    &--apply:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--apply-coupon {
        width: 132px;
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        // line-height: 21;
        font-size: 18px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -0.02em;
    }

    &--apply-coupon:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--next-article {
        display: flex;
        background: $purple;
        font-weight: 500;
        width: 200px;
        border-radius: 12.4px;
        font-size: 20.29px;
        color: $bgwhite;
        line-height: 25.4px;
        text-transform: capitalize;
        align-items: center;
        justify-content: center;
        // height: 80px;
            span {
                margin-left: 15px;
                margin-top: 10px;
            }        
    }

    &--next-article:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
        span svg path{
            stroke: $purple;
        }
    }  

    &--send {
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        font-size: 20.81px;
        line-height: 31px;
        text-transform: capitalize;
        font-size: 20.81px;
        font-weight: 600;
        letter-spacing: 0.03em;
    }

    &--send:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }
    
    &--payment {
        display: block;
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        text-transform: capitalize;
        padding: 24px;
        text-align: center;
        // height: 77px;
        font-size: 20px;        
        line-height: 30px;
        font-weight: 600;
        letter-spacing: -0.01em;
    }

    &--payment:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }
}