.customer {
    &__row {
        padding: 120px 0 180px;
    }
    
    &__title {
        text-align: center;
        padding-bottom: 80px;
    }

    // &__card {
    //     // display: flex;
    //     gap: 30px;
    //     overflow: hidden;
    // }    

    // &__list {
    //     // display: flex;
    //     // padding-bottom: 43px;
    //     // position: relative; 
    //     // gap: 45px;
    //     // transform: translate3d(0px, 0px, 0px);
    // }

    &__slider {
        // display: flex; // чистка для слайдера
        position: relative;
        // min-height: 400px;      
        // &_control {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        //     position: absolute;
        //     bottom: -10%; //временный
        //     right: 5%;            
        // }
    }
    
    // &__button {
    //     background:  #e7e5f4;
    //     border-radius: 78.5px;    
    //     width: 191px;  
    //     height: 11px; 
    //     margin-right: -5px;
    //     border: none;
    //     outline: none;
    //     cursor: pointer;
    // }

    // &__button.active {
    //     background: $purple;
    //     z-index: 100;
    // }

    &__item {
        background: $white;
        border-radius: 21px;
        // flex: 0 0 528px;
        padding: 43px;
        height: fit-content; 
        position: relative;

        &_col {
            margin-left: 21px;
        }

        &_name {
            color: #030314;
            font-family: $Poppins;
            font-size: 21px;
            font-weight: 500;
            line-height: 31.5px;
        }

        &_date {
            color: #5E5D5D;
            font-family: Quicksand;
            font-size: 17px;
            font-weight: 500;
            line-height: 26px;
        }

        &_decor {
            margin-left: auto;
        }

        &_img {
            border-radius: 50px;
            width: 71px;
            height: 71px;
        }

        &_text {
            color: #969696;
            text-align: justify;
            font-family: $Poppins;
            font-size: 18px;
            font-style: italic;
            font-weight: 400;
            line-height: 26px; 
            padding-bottom: 32px;    
            &-active {
                color: #636363;
                padding-bottom: 39px;
                font-size: 18px;
                font-style: italic;
                font-weight: 400;
                line-height: 26px; 
                }    
        }
        
        &_rating {
            display: flex;
            gap: 4px;
            height: 23px;
        }

        &_top {
            display: none;       
        }

        &_top.active {
            display: flex;
            flex-direction: row; 
            margin-bottom: 32px;              
        }
    }
}
.customer .slick-list {
    overflow: hidden;
    width: 1500px;
    position: relative;
    height: 380px;
    @media(max-width: 1025px) {
        width: 1200px;
    }   
    @media(max-width: 769px) {
        width: 1125px;
    } 
    @media(max-width: 426px) {
        width: 1050px;
    }   
  }
  .customer .slick-track {
    display: flex;
    width: 1500px; 
    @media(max-width: 1025px) {
        width: 1250px;
    }   
    @media(max-width: 769px) {
        width: 1100px;
    } 
    @media(max-width: 426px) {
        width: 1050px;
    }     
  }
  
  .customer .slick-track {
    align-items: flex-start;
    gap: 45px;
    @media(max-width: 1025px) {
        gap: 35px
    }   
    @media(max-width: 769px) {
        gap: 25px
    } 
    @media(max-width: 426px) {
        gap: 15px
    }   
    @media(max-width: 320px) {
        gap: 10px
    }  
  }

  .customer .slick-dots {
    width: 550px;
    right: 5%;
    bottom: -3%;
    display: flex !important;
    z-index: 1000;
    margin: 10px;
    @media(max-width: 769px) {
        right: 9%;
    }    
    @media(max-width: 426px) {
        width: 300px;
        right: 8%;
    }
    @media(max-width: 376px) {
        width: 200px;
        right: 18%;
        bottom: -45px;
    }
    @media(max-width: 320px) {
        right: 12%;
    }

  }
  .customer .slick-dots li {
    flex: 0 1 33.33%;
  }

  .customer .slick-dots li.slick-active button {
    background: $purple;
    z-index: 1000;
    position: absolute;
  }
  .customer .slick-dots button {
    background:  #e7e5f4;
    border-radius: 78.5px;    
    width: 191px;  
    height: 11px; 
    // margin-right: -5px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;  
    @media(max-width: 426px) {
        width: 110px;
    }   
    @media(max-width: 376px) {
        width: 75px;
    } 
  }

  .customer .slick-dots li button:before {
    content: '';
    width: 0;
    height: 0;
  }

  .slick-prev, .slick-next {
    display: none !important;
  }

  .slick-slide {
    width: 510px;
    @media(max-width: 1025px) {
        width: 375px;
    }   
    @media(max-width: 769px) {
        width: 335px;
    } 
    @media(max-width: 426px) {
        width: 340px;
    }   
    @media(max-width: 376px) {
        width: 310px;
    } 
    @media(max-width: 320px) {
        width: 260px;
    }  
    
  }