.customer {
    &__row {
        padding: 120px 0 180px;
    }
    
    &__title {
        text-align: center;
        padding-bottom: 80px;
    }

    &__card {
        display: flex;
        gap: 30px;
        overflow: hidden;
    }    

    &__list {
        display: flex;
        padding-bottom: 43px;
        position: relative; 
        gap: 45px;
        // transform: translate3d(0px, 0px, 0px);
    }

    &__slider {
        display: flex; 
        min-height: 400px;      
        &_control {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            bottom: 5%;
            left: 25%;
        }
    }

    &__button {
        background:  #e7e5f4;
        border-radius: 78.5px;    
        width: 191px;  
        height: 11px; 
        margin-right: -5px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__button.active {
        background: $purple;
        z-index: 100;
    }

    &__item {
        background: $white;
        border-radius: 21px;
        flex: 0 0 528px;

        // width: 528px;
        padding: 43px;
        height: fit-content; 
        // position: relative;
        transition: transform 0.5s;
        &_col {
            margin-left: 21px;
        }

        &_name {
            color: #030314;
            font-family: $Poppins;
            font-size: 21px;
            font-weight: 500;
            line-height: 31.5px;
        }

        &_date {
            color: #5E5D5D;
            font-family: Quicksand;
            font-size: 17px;
            font-weight: 500;
            line-height: 26px;
        }

        &_decor {
            margin-left: auto;
        }

        &_img {
            // background: url(/src/img/customer_foto.jpg) no-repeat center center;
            border-radius: 50px;
            width: 71px;
            height: 71px;
        }

        &_text {
            color: #969696;
            text-align: justify;
            font-family: $Poppins;
            font-size: 18px;
            font-style: italic;
            font-weight: 400;
            line-height: 26px; 
            padding-bottom: 32px;    
            &-active {
                color: #636363;
                padding-bottom: 39px;
                font-size: 18px;
                font-style: italic;
                font-weight: 400;
                line-height: 26px; 
                }    
        }
        
        &_rating {
            display: flex;
            gap: 4px;
            height: 23px;
        }

        &_top {
            display: none;       
        }

        &_top.active {
            display: flex;
            flex-direction: row; 
            margin-bottom: 32px;              
        }
    }
    &__item:nth-child(1) {
        transform: translate3d(575px, 0px, 0px);  
        transition: 1s ease-in-out;
    }

    &__item.active:nth-child(1) {
        transform: translate3d(0, 0px, 0px);  
        transition: 1s ease-in-out;
    }

    &__item.active:nth-child(2) {
        transform: translate3d(-575px, 0px, 0px);        
        transition: 1s ease-in-out;
    }
    &__item.active:nth-child(3) {
        transform: translate3d(-1145px, 0px, 0px);        
        transition: 1s ease-in-out;
    }
}