.dishes {
    position: relative;
    &__row {
        padding-top: 100px;
        padding-bottom: 120px;
        border-bottom: 0.71px solid #CBCBCB;
    }
    &__title {
        font-size: 45px;
        text-align: center;
        padding-bottom: 85px;
        span {
            color: $purple;
        }
    }
    &__cards {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 65.36px;
    }
    &__item {
        display: flex;
        width: 225px;
        border-radius: 34.5px;
        border: 1.4px solid #F4F4F6;
        box-shadow: 6.84842px 82.18102px 41.09051px 0px rgba(229, 229, 229, 0.70);
        position: relative; 
        transition: transform 0.3s ease;
        background: $white;
        justify-content: center;
        // align-self: stretch;
        align-items: end;
       
        &_img {
            // position: absolute;
            padding-top: 20px;
            width: 184.69px;
            // left: 20px;
            border-radius: 20px;
        }
        &_like {
            cursor: pointer;
            position: absolute;
            top: 25px;
            right: 25px;
            svg {
                width: 23px;
                height: 21px;
            }          
        } 
        &_like-active {
            position: absolute;
            top: 25px;
            right: 25px;
            svg {                
                fill: #5C4EAE;
                width: 23px;
                height: 21px;
                cursor: pointer;                
            }
        }
    }
    &__item:hover {
        transform: scale(1.1);
    }
    
    &__category {
        max-width: fit-content;
        font-size: 11.5px;
        font-weight: 400;
        line-height: 17px;
        padding: 5px 7.5px;
        border-radius: 5.4px;
        // z-index: 100;
        position: relative;
        
        &_1 {     
            color:  #DAA31A;
            background: #F7EDD0;
        }
        &_2 {
            color: #FB471D;
            background:#F7C5BA;
        }
        &_3 {        
            color: #309D5B;
            background:#dfe8d7;
        }
        &_card {
            padding: 24px 24px 29.6px 24px;
        }
    }
    
    &__subtitle {
        color: $black;
        font-size: 23px;
        font-weight: 600;
        line-height: 37.5px;
        padding-bottom: 10px;
    }
    &__comment {
        font-family: $Manrope;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        margin-bottom: 10.82px;
        &_star {
            padding-left: 6.5px;
            padding-right: 6.5px;
        }
    } 
        
    &__price {
        display: flex;
        color: $black;
        font-family: $Manrope;
        font-size: 25.936px;
        font-weight: 700;
        line-height: 40.345px;
        align-items: center;
        &_sub {
            color: $gray;
            font-size: 19px;
            margin-top: 3px;
        }
    }
    &__add {
        width: 44px;
        height: 40px;
        background: $black url(/src/img/+.svg) no-repeat;
        background-position: 50%;
        border-radius: 9px;
        margin-left: auto;
        // position: relative; 
        cursor: pointer;
        &:active {
            background: $purple url(/src/img/+.svg) no-repeat;
            background-position: 50%;
        }
    }
    &__empty {
        width: 90%;
        margin: 0 auto 30px;
        padding: 24.5px 0;
        border-radius: 12px;
        border: 1.4px solid #F4F4F6;
        display: flex;
        background: $white;
        justify-content: center;
        font-size: 24px ;        
    }
}  
