.supersale {
    padding-top: 120px;
    padding-bottom: 75px;
    &__row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 112px;
    }
    &__promo {
        display: flex;
        overflow: hidden;
        width: 60%;
        flex-direction: column;
        &_decor {
            position: absolute;
            top: -35px;
            right: 460px;
        }
    }
    &__slider {
        display: flex;
        width: 320%;
        position: relative;
        
        &_item {
            height: 250px;
            width: 770px;
            border-radius: 20px;
            position: relative;
            background: url(/img/bg_supersale.png),  #6C5FBC;
            padding: 30px 58.5px;
            margin-right: 10px;
            display: flex;
        }
        
        &_title {
            color: #FFF;
            font-size: 70px;
            font-weight: 800;
            // padding-bottom: 10px;
        }
        &_weekend {
            color: #7C6FCD;
            font-size: 87.5px;
            font-weight: 800;
            position: absolute;
            top: 90px;
        }
        &_img {
            width: 254px;
            height: 256px;
            position: absolute;
            right: 35.7px;
            top: 50px;
        }
        }

    &__line {
        display: flex;
        padding-top: 50px;
        gap: 7.5px;
        justify-content: center;
        &_item {
            cursor: pointer;
            width: 30px;
            height: 6px;
            border-radius: 55.5px;
            background: #DBD9EE;
            &-active {
                width: 61px;
                height: 6px;
                border-radius: 55.5px;
                background: $purple;
            }    
        }
    }    

    input {     
        height: 75px;
        border: none;
        border-radius: 14.2px;
        padding-left: 91px;
        margin-top: 88px;        
        background: #EDEDED url(/img/Search.svg) no-repeat;
        background-position: 28.5px 19px;
        outline: 0;
    }

    input::placeholder {
        color: #AAABBA;
        font-family: $Poppins;
        font-size: 20.5px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.02em;
    }

}

.category {
    padding: 32px 33px 39px 33px;
    display: flex;
    flex-direction: column;
    width: 377px;
    background: $bgwhite;
    border-radius: 23.8px;
    box-shadow: 5.71212px 9.5202px 28.5606px 0.95202px rgba(108, 95, 188, 0.12); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__card {
        &_col {
            padding: 13px 0 29px;
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
        &_row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &_history {
            color: #ACADB9;
            font-size: 15.5px;
            font-weight: 500;
            line-height: 29px; 
            &-active {
                color: $purple;
            }
        }
    }

    &__title {
        color: #323142;
        font-size: 21.5px;
        font-weight: 600;
        line-height: 29px; 
        &_line {
            margin-top: 27px;
            margin-bottom: 13.21px;
            background:$purple ;
            width: 100%;
            height: 5.3px;
            border-radius: 8.8px;   
            position: relative;         
        }
        &_circle {
            position: absolute;
            background: url(/img/price.svg);
            width: 24.64px;
            height: 25.45px;
            bottom: -10px;
            left: 35px;
            cursor: pointer;
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 18px;
        padding-bottom: 26.5px;
    }

    &__item {
        width: 66px;
        height: 96.5px;
        border-radius: 14.7px;
        &:nth-child(1) {
        background: rgba(255, 222, 138, 0.35) url(/img/Pizza.png) no-repeat;
        background-position: center 14.5px ;
            &:hover {
                border: 4px solid rgba(255, 222, 138, 0.50);
            }
        }
        &:nth-child(2) {
        background: rgba(251, 71, 29, 0.35) url(/img/Hotdog.png) no-repeat;
        background-position: center 8.5px ;
            &:hover {
                border: 4px solid rgba(251, 71, 29, 0.50);
            }
        }
        &:nth-child(3) {
        background: rgba(237, 182, 107, 0.35) url(/img/Doughnut.png) no-repeat;
        background-position: center 14.5px ;
            &:hover {
                border: 4px solid rgba(237, 182, 107, 0.50);
            }
        }
        &:nth-child(4) {
        background: rgba(90, 133, 255, 0.35) url(/img/Icecream.png) no-repeat;
        background-position: center 14.5px ;
            &:hover {
                border: 4px solid rgba(90, 133, 255, 0.50);
            }
        }
    }
    &__item-active:nth-child(1) {
        border: 4px solid rgba(255, 222, 138, 0.50);
    }
    &__item-active:nth-child(2) {
        border: 4px solid  rgba(251, 71, 29, 0.50);
    }
    &__item-active:nth-child(3) {
        border: 4px solid  rgba(237, 182, 107, 0.50);
    }
    &__item-active:nth-child(4) {
        border: 4px solid rgba(90, 133, 255, 0.50);
    }
    &__item_title {
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        padding: 68px 0 11px;
        &-1 {
        color: #D69900;}
        &-2 {
        color: #FB471D;}
        &-3 {
        color: #E28B14;}
        &-4 {
        color: #002073;}
    }

    &__price {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 10.5px;
        line-height: 30px;
        color: #C2C3CB;
        margin-bottom: 39px;

    }
}

