.supersale {
    margin-top: 102.59px;
    &__row {
        padding: 120px 0 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 112px;
        border-bottom: 0.71px solid #CBCBCB;

    }

    &__promo {
        display: flex;
        width: 60%;
        flex-direction: column;
        position: static;
        overflow: hidden;
        &_decor {
            position: absolute;
            top: 195px;
            left: 58%;
            transform: rotate(10deg);
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    &__slider {
        width: 300%;
        &_item {
            width: 100%;
            border-radius: 18.69px;
            position: relative;
            background: url(/src/img/bg_supersale.png),  #6C5FBC;
            margin-right: 10px;
            // display: flex;
            padding: 30px 0 107px 58.43px; 
            // transition: transform 0.5s; 
            &:nth-child(1) {
                transform: translateX(-110%); 
                transition: 1s ease-in-out;
            }
        
            &:nth-child(2) {
                transform: translateX(90%); 
                transition: 1s ease-in-out;
            }
            &:nth-child(3) {
                transform: translateX(180%); 
                transition: 1s ease-in-out;
            }
            &:nth-child(1).active {
                transform: translateX(0%); 
                transition: 1s ease-in-out;
            }
        
            &:nth-child(2).active {
                transform: translateX(-101%); 
                transition: 1s ease-in-out;
            }
            &:nth-child(3).active {
                transform: translateX(-202%); 
                transition: 1s ease-in-out;
            }
        }
        
        &_title {
            color: #FFF;
            font-size: 75px;
            line-height: 112px;
            font-weight: 800;
        }        

        &_promo {
            color: #7C6FCD;
            font-size: 81px;
            line-height: 131px;
            font-weight: 800;
            position: absolute;
            top: 95px;
            letter-spacing: -0.2rem;
        }

        &_img {
            width: 254px;
            height: 256px;
            position: absolute;
            right: 35.7px;
            top: 50px;
        }
    }

    &__line {
        display: flex;
        padding-top: 50px;
        gap: 7.5px;
        justify-content: center;
        &_item {
            cursor: pointer;
            width: 30px;
            height: 6px;
            border-radius: 55.5px;
            background: #DBD9EE;
            &-active {
                width: 61px;
                height: 6px;
                border-radius: 55.5px;
                background: $purple;
            }    
        }
    }    

    
}

.search {
    margin-top: auto;
    position: relative;
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}
    input {     
        border: none;
        border-radius: 18.69px;
        padding: 30.5px 0 25.5px 31px;
        margin-top: auto;        
        background: #EDEDED;
        background-position: 28.5px 19px;
        outline: 0;
        width: 100%;
    }

    input::placeholder {
        color: #AAABBA;
        font-family: $Poppins;
        font-size: 20.5px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.02em;        
    }
}

.category {
    padding: 32px 33px 39px 33px;
    display: flex;
    flex-direction: column;
    width: 377px;
    background: $bgwhite;
    border-radius: 23.8px;
    box-shadow: 5.71212px 9.5202px 28.5606px 0.95202px rgba(108, 95, 188, 0.12);

    &__card {
        &_col {
            padding: 13px 0 28.88px;
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
        &_row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &_history {
            color: #ACADB9;
            font-size: 15.5px;
            font-weight: 500;
            line-height: 29px; 
            cursor: pointer;
            &-active {
                color: $purple;
            }
        }
    }

    &__title {
        color: #323142;
        font-size: 21.5px;
        font-weight: 600;
        line-height: 29px; 
        &_line {
            margin-top: 27px;
            margin-bottom: 13.21px;
            background:$purple ;
            width: 100%;
            height: 5.3px;
            border-radius: 8.8px;   
            position: relative;         
        }
        &_circle {
            position: absolute;
            background: url(/src/img/price.svg);
            width: 24.64px;
            height: 25.45px;
            bottom: -10px;
            left: 35px;
            &:hover {
                cursor: grab;
            }
            
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 18px;
        padding-bottom: 25.5px;
    }

    &__item {
        width: 66px;
        border-radius: 14.7px;
        height: 100px;
        cursor: pointer;
        &:nth-child(1) {
        background: rgba(255, 222, 138, 0.35) url(/src/img/Pizza.png) no-repeat;
        background-position: center 20px ;
        }

        &:nth-child(2) {
        background: rgba(251, 71, 29, 0.35) url(/src/img/Main1.png) no-repeat;
        background-position: center 15px ;
        }

        &:nth-child(3) {
        background: rgba(237, 182, 107, 0.35) url(/src/img/Doughnut.png) no-repeat;
        background-position: center 20px ;
        }
        
        &:nth-child(4) {
        background: rgba(90, 133, 255, 0.35) url(/src/img/Icecream.png) no-repeat;
        background-position: center 20px;
        }
    }
    &__item-active {
        width: 66px;
        border-radius: 14.7px;
        cursor: pointer;
        height: 100px; //
    }
    &__item-active:nth-child(1) {
        background: rgba(255, 222, 138, 0.35) url(/src/img/Pizza.png) no-repeat;
        border: 4px solid rgba(255, 222, 138, 0.50);
        background-position: center 20px;

    }
    &__item-active:nth-child(2) {
        background: rgba(251, 71, 29, 0.35) url(/src/img/Main1.png) no-repeat;
        background-position: center 15px ;
        border: 4px solid rgba(251, 71, 29, 0.50);
    }
    &__item-active:nth-child(3) {
        background: rgba(237, 182, 107, 0.35) url(/src/img/Doughnut.png) no-repeat;
        background-position: center 20px ;
        border: 4px solid rgba(237, 182, 107, 0.50);
    }
    &__item-active:nth-child(4) {
        background: rgba(90, 133, 255, 0.35) url(/src/img/Icecream.png) no-repeat;
        background-position: center 20px;
        border: 4px solid rgba(90, 133, 255, 0.50);
    }

    &__item:hover:nth-child(1) {
        border: 4px solid rgba(255, 222, 138, 0.50);
    }
    &__item:hover:nth-child(2) {
        border: 4px solid  rgba(251, 71, 29, 0.50);
    }
    &__item:hover:nth-child(3) {
        border: 4px solid  rgba(237, 182, 107, 0.50);
    }
    &__item:hover:nth-child(4) {
        border: 4px solid rgba(90, 133, 255, 0.50);
    }


    &__item_title {
        font-size: 13px;
        line-height: 18px;

        font-weight: 500;
        text-align: center;
        padding: 68px 0 11px;
        &-1 {
        color: #D69900;}
        &-2 {
        color: #FB471D;}
        &-3 {
        color: #E28B14;}
        &-4 {
        color: #002073;}
    }

    &__price {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 10.5px;
        line-height: 30px;
        color: #C2C3CB;
        margin-bottom: 39px;

    }
}

