.blog {
    &__row {
        padding: 100px 0 120px;
        &-top {
            padding-top: 0px;
            margin-left: 24.18px;
            width: 326px;
        }
    }

    &__promo {
        border-left: 0.7px solid #B7B4B4;
    }

    &__title {
        font-size: 45px;
        text-align: center;
        padding-bottom: 75px;
        
        span {
           color: $purple;
        }

        &-promo {
            color: #252525;
            font-size: 30px;
            font-weight: 600;
            line-height: 44.5px;
            padding-bottom: 34px;
            margin-left: 10px;
        }
    }

    &__cards{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        row-gap: 80px;
        column-gap: 60px;
        &_promo {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 60px;
        }
    }
    
    &__item {
        width: 350px;
        border-radius: 15.9px;
        background: #FFF;        
        display: flex;
        flex-direction: column;
        padding: 25px 20px 30.5px 20px;
        &-promo {
            width: 298px;
        }
        &:hover {
            box-shadow: 0px 3.9px 46.9px 0px rgba(197, 197, 197, 0.25);
        }

        &_img img{
            width: 100%;
            &-promo img {
                width: 85%;
            }
        }

        &_card {
            display: flex;
            gap: 11.5px;
        }

        &_logo {
            background: url(/src/img/blog_item_img.png) no-repeat center center;
            width: 45px;
            height: 45px;
            border-radius: 25px;
        }

        &_title {
            padding: 20px 0;
            color: #252525;
            font-size: 22px;
            font-weight: 600;
            line-height: 25px; 
        }

        &_text-1 {
            color: #8D8D8D;
            font-size: 12px;
            font-weight: 400;
        }

        &_text-2 {
            color: #000;
            font-size: 17px;
            font-weight: 500;
            line-height: 26px; 
        }

        &_date {
            color: #B7B4B4;
            font-size: 16px;
            font-weight: 500;
            line-height: 31.5px;
            margin-left: auto;
            align-self: self-end;
        }
    }    
}

.content {
    margin-top: 102.59px;
    padding-bottom: 160px;
    &__row {
        padding-top: 120px;
    }

    &__title {
        color: #252525;
        font-size: 37.5px;
        font-weight: 600;
        line-height: 44.5px; 
        padding-bottom: 32px;
       
    }  

    &__subtitle {
        display: flex;
        gap: 15px;
        padding-bottom: 62px;
    }

    &_logo {
        background: url(/src/img/blog_item_img.png) no-repeat;
        width: 55px;
        height: 55px;
    }

    &_text-1 {
        color: #8D8D8D;
        font-size: 15px;
        font-weight: 400;
    }

    &_text-2 {
        color: #000;
        font-size: 21.5px;
        font-weight: 500;
        line-height: 26px; 
    }

    &__bg {
        width: 100%;
    }

    &__promo {
        padding-top: 80px;
        display: flex;
    }

    &__article {
        margin-right: 75px;
        &_title {
            color: #252525;
            font-size: 33px;
            font-weight: 600;
            line-height: 44.5px;
            text-transform: capitalize;
            padding-bottom: 35px;
        }
        &_text {
            color: #252525;
            text-align: justify;
            font-size: 22px;
            font-weight: 400;
            line-height: 44.5px;
            padding-bottom: 100px;
        }
        ul {
            padding-top: 55px;
            margin-left: 20px;
            list-style: disc;
        }
    }
}

.getsupersale {
    margin-top: 100px;
    padding: 60px 0 80px;
    position: relative;
    &__row {
        padding: 60px 65px;
        background: $purple url(/src/img/bg_supersale.png);
        border-radius: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_img {
        width: 274px;
        position: absolute;
        right: 70px;
        top: 70px;
    }
    }
    &__title {
        color: #FFF;
        font-size: 70px;
        font-weight: 800;
    }
    &__form {
        position: relative;
        display: inline-flex;
        align-items:center;        
        &_button {
            position: absolute;
            right: 5px;
        }
    }
    input {     
        width: 440px;
        padding: 22.5px;
        border: 1px solid $bgwhite;
        border-radius: 14.2px;
        box-shadow: 0px 7.25333px 45.33334px 0px rgba(0, 0, 0, 0.10);
        outline: 0;
        font-size: 16.27px;
    }

    placeholder {
        color: #878787;
        font-size: 16.27px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
    } 
} 

.shopping {
    margin-top: 102.59px;
    padding: 120px 0 0;
    &__row {
        position: relative;
        width: 692px;
        margin: 0 auto;
    }
    
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        position: relative; 
        margin: 0 auto;
        &_decor {
            &-1 {
                position: absolute;
                top: -35px;
                right: -45px;
                width: 40px;
            }
            &-2 {
                position: absolute;
                right: -125px;
                bottom: 5px;
                transform: scale(-1,1);
            }

            &-3 {
                position: absolute;
                left: -125px;
                bottom: 5px;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        margin: 89px 0 51.68px;
        justify-content: space-between;
        input {     
            width: 542px;
            padding: 25px 0 20px 21px;
            border: none;
            border-radius: 9.97px;
            padding-left: 91px;
            background: #EDEDED url(/src/img/coupon.svg) no-repeat;
            background-position: 28.5px center;
            outline: 0;
        }    
        
        input::placeholder {
            color: #AAABBA;
            font-family: $Poppins;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.02em;
            padding: 25px 0;
        }
    }

    &__item {
        width: 100%;
        padding: 24.5px 0;
        border-radius: 12px;
        border: 1.4px solid #F4F4F6;
        display: flex;
        justify-content: space-between;
        position: relative;
        &_img {
            width: 98.71px;
            // position: absolute;
            padding-left: 7px;
            &-info {
                justify-content: center;
                display: flex;
                flex-direction: column;
                margin-left: 16px;
            }
        }
        
        &_info {
            background: $white;            
            &-1 {                    
                justify-content: center;
                display: flex;
                // flex-direction: column;
                // padding-left: 115px;
                gap: 4px;
            }
            &-2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 57px;
                gap: 8.5px;
            }
        } 

        &_counter {
            height: 31.5px;
            display: flex;
            align-items: center;
            &-lower {
                width: 33.5px;
                height: 31.5px;
                border: 1px solid black;
                border-radius: 10px;
                background: url(/src/img/Mins.svg) no-repeat;
                background-position: 50%;
                cursor: pointer;
            }

                input {
                    width: 40px;
                    height: 25px;
                    border: 1px;
                    outline: 0;
                    text-align: center;
                    font-family: $Poppins;
                    font-size: 18px;
                    font-weight: 400;
                    vertical-align: middle;
                }
                input[type="number"]::-webkit-outer-spin-button, 
                input[type="number"]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                input[type="number"] {
                    -moz-appearance: textfield;
                    appearance: textfield;
                }
            &-raise {
                cursor: pointer;
                width: 33.5px;
                height: 31.5px;
                border: 0px;
                border-radius: 10px;
                background: $black url(/src/img/+.svg) no-repeat;
                background-position: 50%;
                svg {
                    fill: $bgwhite;
                }
            }
            &-remove {
                cursor: pointer;
                border: 0;
                color: gray;
                font-size: 16px;
                font-weight: 700;
                background: none;
                position: absolute;
                top: 1%;
                right: 1%;
                width: 20px;
                height: 20px;
            } 
        }

        &_subtitle {
            font-weight: 600;
            font-size: 22px;
            line-height: 31px;
            color: #323142;
        }

        &_price {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #323142;     
            &-total {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }       
        }    
    }

    &__pay {
        margin-bottom: 39px;
        &_item {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: -0.02em;
            color: $black;
        }
        &_item:not(:last-child) {
            border-bottom: 1px dashed #ACADB9;
            padding-top: 16px;
            padding-bottom: 13.5px;
        }
        &_item:last-child {
            padding-top: 28.6px;
            padding-bottom: 61px;
            font-size: 25px;
            font-weight: 600;
        }
    }

    &__price {
        display: flex;
        color: $black;
        font-family: $Manrope;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;              
        &_sub {
            font-weight: 400;
            font-size: 20px;
            margin-top: 3px;
            color: #323142;
            line-height: 17px;
        }
        &_total { 
            font-weight: 600;
            font-size: 25px; 
            line-height: 17px;
        }
    }  
    &__empty {
        // margin: 0 auto 30px;
        padding: 24.5px 0;
        border-radius: 12px;
        border: 1.4px solid #F4F4F6;
        display: flex;
        background: $white;
        justify-content: center;
        font-size: 24px ;  
    }
}

.support {
    margin-top: 102.59px;  
    padding: 210px 0;
    &__row {
        
        display: flex;
        position: relative;
        &_left {
            width: 530px;
            height: 100%;
            position: absolute;
            background: $purple url(/srs/img/decor10.svg) no-repeat;
            background-position: 16.5% 5.75%;
            left: -100px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_right {
            width: 493px;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            margin-left: auto;
            position: relative;
        }
        input, textarea {
            // width: 100%;
            border: 1px solid lightgray;
            outline: 0;
            border-radius: 17px;
            font-family: $Inter;
            font-size: 17px;
            line-height: 25px;
            padding: 25.34px 26.5px;
            margin-bottom: 26px;
        }
    
        textarea {
            // height: 345px;
            padding: 22.65px 22.65px 294.35px 22.65px;
            overflow: hidden;
            resize:none;
            margin: 25px 0 43px;;
        }
    
        input::placeholder, textarea::placeholder {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16.89px;
            line-height: 25px;
            color: #B6B6B6;
        }

        input, textarea {
            &:hover {
                border: 1px solid $purple;
            }          
        }
    }

    &__title {
        padding-top: 84.4px;
        font-weight: 600;
        font-size: 48px;
        line-height: 50px;
        color: $white;
        position: relative;
        &_img {
            &-1 {
                width: 336px;
                // height: 127.5px;
                position: absolute;
                top: 110px;
            }
            &-2 {
                position: absolute;
                left: 380px;
                top: 280px;
            }
            &-3 {
                position: absolute;
                bottom: -100px;
                left: -100px;
                width: 122px;
            }             
            &-4 {
                position: absolute;
                right: -215px;
                top: 255px;
            }       
        }
        &_right {
            color: #000;
            font-size: 40px;
            padding-top: 0px;
            padding-bottom: 62px;
            text-align: left;
            position: relative;
            span {
                color: $purple;
            }
        }
        
    }
    
}

.about {    
    padding: 80px 0;
    &__row {
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
    }
    &__title {
        text-align: center;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;       
    }
    &__text, &__delivery {
        color: #252525;
        font-size: 23.6px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 30px;
        text-align: center;
        width: 85%;
        margin: 25px auto;
    }

    &__delivery {
        font-weight: 700;
    }

    &__list, &__info_title, &__time {
        color: $purple;
        font-size: 23.6px;
        font-weight: 600;
        line-height: 28px;
        text-transform: capitalize;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    &__list {
        &_item {
        color: #252525;
        font-size: 23.6px;
        font-weight: 400;
        line-height: 25px;
        margin-left: 100px;
        padding-left: 20px;
        list-style: url('/src/img/like.svg');
        margin-top: 10px;
        }
    }
    &__info_tel, &__time_hour {
        color: #252525;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-left: 50px;
    }
}

.map {
    margin-top: 102.59px;
    padding-top: 120px;
    iframe {
        border: 0;
        border-radius: 25px;
    }
}

.popup {
    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        // margin-left: -5%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 50%;
        &_form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24.46px;
            width: 385.54px;
            padding: 88.16px 0 163px;
            margin: 0 auto;
        }
        &_logo {
            padding: 32px 0 0 48px;
        }
        &_title {
            font-weight: 600;
            font-size: 35px;
            line-height: 44px;
            letter-spacing: -0.04em;
            color: $black;
            padding-bottom: 80px;
        }
        
        input {
            width: 385.54px;
            border: 1px solid transparent;
            border-radius: 14.27px;
            padding: 24.46px 0 25.03px 91px;
            outline: none; 
            text-transform: uppercase;
            &:hover {
                border: 1px solid $purple;
            }             
        }
        
        input[type="text"] {
            background: #EDEDED url(/src/img/UserIcon.svg) no-repeat;
            background-position: 28.5px 50%;
        }
        input[type="email"] {
            background: #EDEDED url(/src/img/Email.svg) no-repeat;
            background-position: 28.5px 50%;
        }
        input[type="tel"] {
            background: #EDEDED url(/src/img/mobile.svg) no-repeat;
            background-size: 19px;
            background-position: 28.5px 50%;
        }
        input[type="tel"]::-webkit-outer-spin-button, 
        input[type="tel"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="tel"] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
        placeholder {
            font-weight: 600;
            font-size: 16.68px;
            line-height: 25px;
            letter-spacing: 0.07em;
           
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        background: $purple url(/src/img/promo-bg.png) no-repeat;
        background-position: 50% 30%;
        background-size: 550px;
        width: 50%;
        justify-content: end;
        align-items: center;
        padding-bottom: 112px;
        &_title {
            font-weight: 800;
            font-size: 40px;
            line-height: 44px;
            text-align: center;
            color: $white;
            width: 90%;
        }
        &_text {
            width: 500px;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.2px;
            color: $white;
            padding-top: 15px;
            width: 90%;
        }
    }    
    .container {
        width: 100%;
        max-width: 1440px;
    }
}

.form {
    &__field {
        margin-top: 25px;
        font-size: 16px;
    }
}