.premium {
    background: $purple;
    overflow: hidden;
    &__decor {
        position: relative;
        &-1 {
            position: absolute;
            left: -70px;
        }
        &-2 {
            position: absolute;
            left: -70px;
        }
        &-3 {
            position: absolute;
            right: -70px;
        }
        &-4 {
            position: absolute;
            right: -70px;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;  
        justify-content: space-evenly;
        padding: 49.5px 0;
    }

    &__col {
        display: flex;
        flex-direction: column;        
    }

    &__title {
        color: $white;
        text-align: center;
        font-family: $PublicSans;
        font-size: 43.2px;
        font-weight: 700;
        line-height: 54px;
        padding-bottom: 23.5px;
    }

    &__text {
        color: #C5BFED;
        text-align: center;
        font-family: $Inter;
        font-size: 14.4px;
        font-weight: 500;
        line-height: 21.6px;
    }
    
}

.quality {    
    &__row {
        padding: 100px 0 168px;
        background: url(/src/img/quality-bg.png) no-repeat;
        background-position: 10% 84.98px;
        border-bottom: 0.71px solid #CBCBCB;
    }
    &__col {
        margin-left: 53%;
        position: relative;
    }
    &__title {
        padding-bottom: 63px;
        color: #18181B;
        font-size: 50.923px;
        font-weight: 700;
        line-height: 58.2px;
        text-transform: capitalize;
        span {
            color: $purple;
        }
    }
    &__button {
        position: relative;
    }

    &__decor-2 {
        color: $purple;
        left: 160px;
        top: 50px;
        position: absolute;        
    }
    &__decor-3 {
        position: relative;
        left: 420px;
        top: -30px;
    }
   
    ul {
        list-style: disc;
        padding-bottom: 15px;
    }
    li {
        font-family: $Inter;
        font-size: 20.5px;
        line-height: 30.5px;
        padding-bottom: 27px;
        margin-left: 30px;
    }
}