.questions {    
    &__row {
        padding: 171.5px 0 164.5px;
    }

    &__header {
        position: relative;
        &_decor {
            position: absolute;
            top: -35px;
            right: 385px;
        }
        &_title {
            font-size: 45px;
            text-align: center;
            padding-bottom: 60px;
            line-height: 54px; 
            span {
            color: $purple;
            }
        }            
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $gray;
        min-height: 100px;    
        width: 100%;
        margin-left: 8px;   
        &_title {
            position: relative;
            color: #323142;
            font-size: 23.5px;
            font-weight: 600;
            line-height:60px; 
            align-self: auto;
        }

        &_questions {
            display: flex;
            flex-direction: column;
            width: 95%;
        }

        &_question {
            display: none;
            &-active {
                display: block;
                color: #686868;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0.2px;
                width: 90%;
                padding: 20px 0 43px;   
            }                      
        } 

        &_button {
            background: url(/src/img/Plus.svg) no-repeat;
            width: 31px;
            height: 31px;
            margin-top: 20px;
            margin-right: 12px;
            margin-left: auto;
            cursor: pointer;
        }

        &_button.active {
            background: url(/src/img/minus.svg) no-repeat;
            // background-position-x: right;
        }                  
    }

    &__item.active {
        display: flex;
        border-bottom: 1px solid $gray;
    }  
}