@media (max-width: 2560px) {
  .supersale__promo_decor {
    left: 55%;
  }
  .premium__decor-1 {
    left: -625px;
  }
  .premium__decor-2 {
    left: -625px;
  }
  .premium__decor-3 {
    right: -625px;
  }
  .premium__decor-4 {
    right: -625px;
  }
}
@media (max-width: 1920px) {
  .supersale__promo_decor {
    left: 56%;
  }
  .premium__decor-1 {
    left: -310px;
  }
  .premium__decor-2 {
    left: -310px;
  }
  .premium__decor-3 {
    right: -310px;
  }
  .premium__decor-4 {
    right: -310px;
  }
}
@media (max-width: 1600px) {
  .supersale__promo_decor {
    left: 57%;
  }
  .premium__decor-1 {
    left: -150px;
  }
  .premium__decor-2 {
    left: -150px;
  }
  .premium__decor-3 {
    right: -150px;
  }
  .premium__decor-4 {
    right: -150px;
  }
}
@media (max-width: 1440px) {
  .supersale__promo_decor {
    left: 58%;
  }
  .premium__decor-1 {
    position: absolute;
    left: -70px;
  }
  .premium__decor-2 {
    position: absolute;
    left: -70px;
  }
  .premium__decor-3 {
    position: absolute;
    right: -70px;
  }
  .premium__decor-4 {
    position: absolute;
    right: -70px;
  }
}
@media (max-width: 1280px) {
  .supersale__slider_title {
    font-size: 63px;
  }
  .supersale__slider_weekend {
    font-size: 63px;
    top: 85px;
  }
  .supersale__slider_img {
    width: 220px;
    height: 220px;
  }
  .supersale__promo_decor {
    left: 56%;
  }
  .questions__header_decor {
    right: 320px;
  }
  .support__row_left {
    width: 480px;
  }
  .support__title_img-2 {
    left: 320px;
  }
  .support__title_img-3 {
    left: -90px;
  }
}
@media (max-width: 1024px) {
  .btn {
    padding: 12.68px 19.02px;
    font-size: 12.68px;
  }
  .btn--shop svg {
    width: 25px;
    height: 25px;
  }
  .btn--confirm {
    border-radius: 12.6px;
    font-weight: 600;
    font-size: 14.35px;
    line-height: 22px;
    padding: 17.39px 0 16.58px;
    margin-top: 10.28px;
  }
  .btn--send {
    border-radius: 12.6px;
    font-weight: 500;
    font-size: 14.8px;
    line-height: 22px;
  }
  .btn--apply {
    border-radius: 12.6px;
    font-size: 9.8px;
    line-height: 15px;
  }
  .btn--apply-coupon {
    border-radius: 7.09px;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 15px;
    padding: 17.4px 28.44px;
  }
  .btn--payment {
    border-radius: 7.09px;
    margin-top: 39px;
    font-size: 14.2px;
    line-height: 21px;
    font-weight: 600;
    letter-spacing: -0.01em;
    padding: 16px;
  }
  .btn--get-started {
    font-weight: 500;
    border-radius: 8.9px;
    font-size: 11.6px;
    line-height: 17px;
  }
  .btn--Go-pro {
    font-weight: 500;
    border-radius: 8.9px;
    font-size: 11.6px;
    line-height: 17px;
  }
  .btn--download {
    display: flex;
    font-weight: 500;
    width: 133px;
    padding: 3px;
    border-radius: 8.9px;
    font-size: 12.85px;
    line-height: 16px;
    margin-top: 23.5px;
  }
  .btn--download span {
    margin-left: 5px;
    margin-top: 5px;
  }
  .btn--download span svg {
    width: 19.27px;
  }
  .btn--view-all span {
    margin-top: 3px;
  }
  .btn--subscribe {
    font-weight: 500;
    border-radius: 8.9px;
    font-size: 10.5px;
    line-height: 16px;
  }
  .btn--next-article {
    width: 174.5px;
    border-radius: 11.73px;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 18px;
    padding: 8px 16.52px 8px 19.35px;
  }
  .btn--next-article span {
    margin-left: 15px;
    margin-top: 7px;
  }
  .menu__link {
    font-size: 12.68px;
    line-height: 19px;
  }
  .header__row img {
    width: 79.5px;
    height: 30px;
  }
  .header__button {
    margin-right: 15px;
  }
  .header__burger {
    display: flex;
    position: relative;
  }
  .header__burger.active {
    position: absolute;
    right: 50px;
    top: 40px;
    z-index: 2;
  }
  .header__burger.active span {
    width: 0;
  }
  .header__burger.active span::before {
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    left: 0;
    width: 30px;
    transition: transform 0.5s linear;
    animation-delay: 2s;
    background-color: white;
  }
  .header__burger.active span::after {
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    left: 0;
    width: 30px;
    transition: transform 0.5s linear;
    background-color: white;
  }
  .header__menu {
    display: none;
  }
  .header__menu.active {
    padding-top: 80px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    right: 0;
    top: 0;
    background: #6C5FBC no-repeat;
    width: 45%;
    height: 100vh;
    z-index: 1;
    font-size: 17px;
    line-height: 24px;
    box-shadow: 2px 2px 6px darkblue;
    animation: show 0.5s forwards;
    animation-delay: -2s;
  }
  @keyframes show {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(0.25);
    }
    50% {
      transform: scale(0.5);
    }
    75% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(1);
    }
  }
  .header__menu.active a {
    color: white;
    font-size: 17.83px;
    line-height: 27px;
  }
  .header__menu.active a:hover {
    text-shadow: rgb(32, 31, 30) 1px 0 10px;
  }
  .header .menu__item {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .footer {
    padding: 68.3px 0 57.4px;
  }
  .footer__row {
    padding-bottom: 20.62px;
  }
  .footer__row img {
    width: 107.55px;
    height: 40.53px;
  }
  .footer__bottom {
    padding-top: 40.53px;
  }
  .footer__text {
    font-size: 12.09px;
    line-height: 17.8px;
  }
  .footer__socials {
    gap: 38px;
  }
  .footer__icon svg {
    height: 15.23px;
  }
  .promo__title {
    font-size: 53.5px;
  }
  .promo__text {
    font-size: 13px;
    max-width: 400px;
  }
  .promo__row {
    background-size: 483px 431px;
  }
  .quality__row {
    padding: 73px 0 85.33px;
    background-position: 78px 73.6px;
    background-size: 216px auto;
  }
  .quality__col {
    width: 400px;
  }
  .quality__title {
    font-size: 36px;
    padding: 15px 0 45px;
  }
  .quality li {
    font-size: 14.5px;
    padding-bottom: 19.25px;
    line-height: 21.7px;
  }
  .quality__decor-2 {
    left: 110px;
    top: 30px;
    width: 100px;
    height: 62px;
  }
  .quality__decor-3 {
    left: 300px;
    width: 37px;
    top: -15px;
  }
  .premium__row {
    padding: 35.19px 0;
  }
  .premium__decor-1 {
    left: -105px;
    height: 156.8px;
  }
  .premium__decor-2 {
    left: -112px;
    height: 156.8px;
  }
  .premium__decor-3 {
    right: -80px;
    height: 156.8px;
  }
  .premium__decor-4 {
    right: -65px;
    height: 156.8px;
  }
  .premium__title {
    font-size: 30.72px;
    line-height: 38.4px;
    padding-bottom: 20px;
  }
  .premium__text {
    font-size: 10.24px;
    line-height: 15.4px;
  }
  .dishes__row {
    padding: 74px 0;
  }
  .dishes__title {
    padding-bottom: 53.5px;
  }
  .dishes__item {
    width: 160px;
    height: 278px;
    border-radius: 24.59px;
  }
  .dishes__item:nth-child(1), .dishes__item:nth-child(2), .dishes__item:nth-child(3), .dishes__item:nth-child(4), .dishes__item:nth-child(5) {
    background-size: 130px 130px;
  }
  .dishes__item_like {
    top: 17px;
    right: 15.5px;
  }
  .dishes__category {
    font-size: 8px;
    padding: 2px 5.5px;
  }
  .dishes__category_card {
    margin-top: 140px;
    padding: 0 16.4px 19.48px 21.5px;
  }
  .dishes__comment {
    font-size: 12.3px;
  }
  .dishes__comment_star {
    padding-right: 10px;
  }
  .dishes__comment_star svg {
    width: 11px;
    height: 11px;
  }
  .dishes__subtitle a {
    font-size: 16.4px;
  }
  .dishes__price {
    font-size: 18.5px;
    height: 28.7px;
  }
  .dishes__price span {
    font-size: 18.5px;
    margin-top: 0px;
  }
  .dishes__add {
    width: 31px;
    height: 28px;
  }
  .dishes__pagemenu {
    height: 33px;
    margin-bottom: 46px;
  }
  .dishes__cards {
    margin-bottom: 46.5px;
    gap: 21.89px;
  }
  .supersale__row {
    gap: 79.64px;
  }
  .supersale__promo_decor {
    left: 58%;
    top: 180px;
  }
  .supersale__slider_item {
    width: 557px;
    padding-top: 30.66px;
    padding-bottom: 67.92px;
    padding-left: 41.55px;
    border-radius: 13.29px;
    margin-right: 5px;
  }
  .supersale__slider_title {
    font-size: 53.33px;
    line-height: 80px;
  }
  .supersale__slider_promo {
    font-size: 62.16px;
    top: 55px;
    letter-spacing: -0.2rem;
  }
  .supersale__slider_img {
    width: 180px;
    height: 180px;
    top: 35.55px;
    right: 25.4px;
  }
  .supersale input {
    padding-left: 65px;
    background-position: 20.24px center;
  }
  .category {
    width: 268px;
    padding: 22.75px;
    padding-bottom: 27.75px;
  }
  .category__title {
    font-size: 15.25px;
    line-height: 21px;
  }
  .category__title_line {
    margin-top: 11.8px;
  }
  .category__item {
    width: 47px;
  }
  .category__item:nth-child(1), .category__item:nth-child(2), .category__item:nth-child(3), .category__item:nth-child(4) {
    background-size: 24.5px 24.5px;
  }
  .category__item_title {
    padding-top: 48.12px;
    padding-bottom: 7.85px;
    line-height: 13px;
  }
  .category__card_history {
    font-size: 10.99px;
    line-height: 21px;
  }
  .category__card_col {
    padding: 26px 0 30px;
  }
  .category__price {
    font-size: 10.99px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .customer__row {
    padding: 71.5px 0 134px;
  }
  .customer__slider {
    gap: 29.11px;
  }
  .customer__item {
    flex: 0 0 375.5px;
    padding: 27px 30.5px;
  }
  .customer__item_img {
    width: 50.52px;
    height: 50.52px;
  }
  .customer__item_name {
    font-size: 14.8px;
  }
  .customer__item_text {
    font-size: 12.8px;
    line-height: 19px;
    padding-bottom: 22.42px;
  }
  .customer__item_text-top {
    padding-bottom: 27.4px;
  }
  .customer__item_text-active {
    font-size: 12.8px;
    line-height: 19px;
    padding-bottom: 22.42px;
  }
  .customer__item_top {
    margin-bottom: 22.73px;
  }
  .customer__item_decor img {
    width: 41.5px;
    height: 31.5px;
  }
  .customer__item:nth-child(1) {
    transform: translate3d(420px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(1) {
    transform: translate3d(0, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(2) {
    transform: translate3d(-420px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(3) {
    transform: translate3d(-840px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__button {
    width: 135px;
    height: 7.82px;
  }
  .shopping__row {
    width: 492px;
  }
  .shopping__cards_decor-1 {
    width: 29.16px;
    top: -30px;
    right: -35px;
  }
  .shopping__cards_decor-2 {
    right: -90px;
    width: 85px;
  }
  .shopping__cards_decor-3 {
    left: -90px;
    width: 85px;
  }
  .shopping__item {
    padding: 17.35px 0;
    background-size: 70.2px;
  }
  .shopping__item_subtitle {
    font-size: 15.6px;
    line-height: 22px;
  }
  .shopping__item_price {
    font-size: 12.8px;
    line-height: 18px;
  }
  .shopping__item_price-total {
    font-size: 11.3px;
    line-height: 16px;
  }
  .shopping__item_counter-raise, .shopping__item_counter-lower {
    width: 24px;
    height: 22.5px;
    background-size: 8.5px;
  }
  .shopping__item_info:nth-child(1) {
    background-size: 70.2px 72.75px;
    background-position-y: center;
  }
  .shopping__item_info:nth-child(2) {
    background-size: 70.2px 72.75px;
    background-position-y: center;
  }
  .shopping__item_info-1 {
    padding-left: 81.54px;
  }
  .shopping__item_info-2 {
    padding-right: 20px;
  }
  .shopping__item_info-1, .shopping__item_info-2 {
    gap: 6px;
  }
  .shopping__item_info_counter input {
    width: 30px;
  }
  .shopping__item__form {
    gap: 5.69px;
  }
  .shopping__item__form input {
    border-radius: 7.09px;
    width: 384.71px;
    background-size: 15.5px 21.3px;
    padding: 17.7px 0 17.4px 60px;
  }
  .shopping__item__form input::-moz-placeholder {
    font-size: 12.8px;
    line-height: 15px;
  }
  .shopping__item__form input::placeholder {
    font-size: 12.8px;
    line-height: 15px;
  }
  .shopping__item__price_sub {
    font-size: 14.2px;
    line-height: 17px;
    letter-spacing: -0.02em;
  }
  .shopping__item__price_total {
    font-size: 17.8px;
    line-height: 17px;
    letter-spacing: -0.02em;
  }
  .shopping__item__pay_item:not(:last-child) {
    padding-top: 11px;
    padding-bottom: 4.8px;
  }
  .shopping__pay_item {
    font-size: 14.22px;
    line-height: 16.71px;
    letter-spacing: -0.02em;
  }
  .shopping__price_sub {
    font-size: 14.22px;
    line-height: 17px;
    letter-spacing: -0.02em;
  }
  .shopping__price_total {
    font-size: 17.78px;
    line-height: 21px;
    letter-spacing: -0.02em;
  }
  .shopping__form input {
    width: 375px;
    padding: 17.1px 0;
    padding-left: 55px;
    background-position: 14.94px center;
  }
  .shopping__form input::-moz-placeholder {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
  }
  .shopping__form input::placeholder {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
  }
  .blog__row {
    padding: 75px 0 86px;
  }
  .blog__row-top {
    padding-top: 0px;
  }
  .blog__title {
    padding-bottom: 53.73px;
  }
  .blog__title-promo {
    margin-left: 20px;
  }
  .blog__cards {
    row-gap: 21.33px;
    -moz-column-gap: 50.38px;
         column-gap: 50.38px;
  }
  .blog__item {
    width: 270.6px;
    padding: 17.96px 14.5px 21.85px 14.5px;
  }
  .blog__item_img {
    border-radius: 8.7px;
  }
  .blog__item_title {
    font-size: 15.03px;
    line-height: 18px;
  }
  .blog__item_text-1 {
    font-size: 11.77px;
  }
  .blog__item_text-2 {
    font-size: 12.1px;
    line-height: 19px;
  }
  .blog__item_date {
    font-size: 11.27px;
    line-height: 22px;
  }
  .blog__item_logo {
    width: 31px;
    height: 31px;
  }
  .content__row {
    padding: 89.6px 0 120px;
  }
  .content__article_title {
    font-size: 23.467px;
    line-height: 32px;
  }
  .content__article_text {
    font-size: 15.64px;
    line-height: 32px;
  }
  .questions__row {
    padding: 72px 0 103px;
  }
  .questions__header_decor {
    right: 230px;
    width: 23.82px;
  }
  .questions__list__item {
    height: 75px;
  }
  .questions__list_title {
    font-size: 16.65px;
  }
  .questions__list_button {
    background-size: 21.5px;
  }
  .questions__item {
    padding: 30px 0 20px;
  }
  .questions__item_title {
    font-size: 16.65px;
    line-height: 42px;
  }
  .questions__item_question-active {
    font-size: 14px;
  }
  .getsupersale__row {
    padding: 40.5px;
  }
  .getsupersale__row_img {
    width: 195px;
    height: 196px;
    top: 51.24px;
    right: 45.5px;
  }
  .getsupersale__title {
    font-size: 50px;
  }
  .getsupersale input {
    width: 312.7px;
    padding: 15.5px 143.22px 15.5px 15.5px;
    border-radius: 10.12px;
  }
  .getsupersale__form_button {
    left: 207px;
  }
  .support {
    padding: 145px 0 155px;
  }
  .support__row input, .support__row textarea {
    font-size: 12.88px;
    line-height: 19.3px;
    padding: 18.59px 18.59px 18.59px 18.02px;
    border-radius: 12.6px;
  }
  .support__row input {
    margin-bottom: 18.5px;
  }
  .support__row textarea {
    margin-top: 18.5px;
    margin-bottom: 25px;
    padding: 16.1px 16.1px 209.23px 16.1px;
  }
  .support__row_left {
    width: 377px;
    left: -60px;
    background-position: 5.5% 5.75%;
  }
  .support__row_right {
    width: 350.58px;
  }
  .support__title {
    font-size: 34.13px;
    line-height: 36px;
  }
  .support__title_img-1 {
    width: 239px;
    height: 90.7px;
    top: 100px;
  }
  .support__title_img-2 {
    width: 216px;
    top: 240px;
    left: 270px;
  }
  .support__title_img-3 {
    width: 100px;
    left: -70px;
  }
  .support__title_img-4 {
    position: absolute;
    right: -180px;
    top: 210px;
  }
  .support__title_right {
    font-size: 28.44px;
    line-height: 39px;
    padding-bottom: 44px;
  }
  .popup input {
    width: 100%;
    padding: 17.39px 0 16.58px;
    padding-left: 75px;
    font-size: 11.86px;
    line-height: 18px;
  }
  .popup__left_form {
    gap: 17.39px;
  }
  .popup__right {
    background-size: 388.27px;
    padding-bottom: 100px;
    background-position: 50% 25%;
  }
}
@media (max-width: 768px) {
  .btn--shop {
    top: -5px;
  }
  .btn--shop svg {
    width: 25px;
    height: 25px;
    top: 15%;
    left: 28%;
  }
  .btn--confirm {
    border-radius: 11.45px;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 22px;
    letter-spacing: 0.03em;
  }
  .btn--send {
    border-radius: 11.45px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding: 18px;
  }
  .btn--apply {
    border-radius: 11.45px;
    width: 100%;
    font-weight: 600;
    font-size: 11.5px;
    line-height: 17px;
    letter-spacing: -0.01em;
  }
  .btn--apply-coupon {
    font-weight: 500;
    font-size: 10.8px;
    line-height: 13px;
    letter-spacing: -0.02em;
  }
  .btn--payment {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    margin-top: 39px;
  }
  .btn--get-started {
    font-weight: 500;
    border-radius: 9.9px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
  .btn--Go-pro {
    font-weight: 500;
    border-radius: 9.9px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
  .btn--download {
    display: flex;
    font-weight: 500;
    border-radius: 9.9px;
    font-size: 12px;
    line-height: 15px;
  }
  .btn--download span {
    margin-left: 15px;
    margin-top: 5px;
  }
  .btn--subscribe {
    font-size: 15px;
    font-weight: 500;
    border-radius: 9.9px;
    font-size: 9.6px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
  .btn--next-article {
    display: flex;
    font-weight: 600;
    font-size: 11.5px;
    line-height: 14px;
    border-radius: 9.9px;
  }
  .btn--next-article span {
    margin-left: 25px;
    margin-top: 5px;
  }
  .promo__row {
    background-size: 380px 365px;
  }
  .promo__left {
    width: 470px;
  }
  .promo__text {
    max-width: 300px;
  }
  .premium__row {
    padding: 18px 0;
  }
  .quality__row {
    background-position: 30px 73.6px;
  }
  .quality__decor-3 {
    left: 250px;
  }
  .quality__col {
    width: 350px;
    margin-left: 45%;
  }
  .customer__button {
    width: 225px;
  }
  .popup__left_form {
    width: 90%;
  }
  .popup__left_logo {
    padding: 31px 0 0 5%;
  }
  .popup__right {
    background-size: 320px;
  }
  .popup input {
    border-radius: 11.45px;
  }
  .support {
    padding: 51px 0 100px;
  }
  .support__row input, .support__row textarea {
    font-size: 11.04px;
    line-height: 17px;
  }
  .support__row input {
    padding: 20.5px 15.93px;
    margin-bottom: 12px;
  }
  .support__row textarea {
    padding: 13.79px 16.55px 179.21px;
    margin-top: 38.76px;
    margin-bottom: 22.1px;
  }
  .support__row_left {
    height: 573.24px;
  }
  .support__row_right {
    width: 320px;
  }
  .support__title_img-2, .support__title_img-4 {
    display: none;
  }
  .support__title_img-3 {
    bottom: -105px;
    left: -55px;
    width: 79px;
  }
  .content__row {
    padding-bottom: 56.89px;
  }
  .content__promo {
    padding-top: 0;
  }
  .content__article {
    margin-right: 35px;
  }
  .blog__promo {
    display: none;
  }
  .blog__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog__cards_promo {
    gap: 30.88px;
  }
  .supersale__row {
    gap: 26px;
  }
  .supersale__promo {
    width: 85%;
  }
  .supersale__promo_decor {
    left: 61%;
    top: 190px;
    width: 40px;
  }
  .supersale__slider_item {
    width: 423px;
    padding-left: 20px;
    padding-top: 21.42px;
    padding-bottom: 56.02px;
  }
  .supersale__slider_img {
    width: 150px;
    height: 150px;
    top: 20px;
    right: 15px;
  }
  .supersale__slider_title {
    font-size: 50px;
  }
  .supersale__slider_promo {
    font-size: 45px;
  }
  .supersale input {
    border-radius: 11.45px;
  }
  .category {
    width: 290px;
    padding: 10.75px;
  }
  .category__price {
    margin-bottom: 25px;
  }
  .questions__row {
    padding: 85px 0 66px;
  }
  .questions__header_decor {
    right: 90px;
  }
  .questions__item {
    padding: 25px 0 20px;
  }
  .questions__item_title {
    font-size: 16.54px;
    line-height: 42.13px;
  }
  .questions__item_button {
    margin-top: 10px;
  }
  .questions__item_question-active {
    font-size: 15px;
  }
  .dishes__item {
    border-radius: 22.62px;
    width: 146.93px;
    height: 255.33px;
  }
  .dishes__item:nth-child(1), .dishes__item:nth-child(2), .dishes__item:nth-child(3), .dishes__item:nth-child(4), .dishes__item:nth-child(5) {
    background-size: 120px 120px;
  }
  .dishes__cards {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dishes__item_like {
    top: 15px;
    right: 15px;
  }
  .dishes__subtitle a {
    font-size: 15.08px;
    line-height: 25px;
    padding-bottom: 0px;
  }
  .dishes__comment {
    margin-bottom: 6px;
    font-size: 11.31px;
    height: 15px;
  }
  .dishes__price {
    font-size: 16.96px;
    line-height: 26px;
    align-items: baseline;
    height: 26px;
  }
  .dishes__price span {
    font-size: 12.3px;
    line-height: 26px;
  }
  .dishes__add {
    width: 28.7px;
    height: 26px;
  }
  .about__title, .about__info_title, .about__time {
    font-size: 23.6px;
    line-height: 28px;
  }
  .about__text, .about__list_item, .about__time_hour, .about__info_tel {
    font-size: 15px;
    line-height: 23px;
    margin-left: 20px;
  }
  .getsupersale__form_button {
    left: 212px;
  }
}
@media (max-width: 426px) {
  .container {
    width: 86%;
  }
  .btn--download {
    margin: 0 auto;
  }
  .btn--view-all {
    font-size: 20px;
    line-height: 45px;
  }
  .btn--payment {
    padding: 15px;
    margin-top: 0;
  }
  .promo__row {
    background-size: 323px 288px;
    background-position: center 480px;
    display: flex;
    text-align: center;
    width: 100%;
    padding-top: 57px;
    height: 800px;
  }
  .promo__left {
    width: 100%;
  }
  .promo__left_bottom {
    justify-content: center;
  }
  .promo__line {
    width: 33.29px;
    left: 55px;
  }
  .promo__subtitle {
    margin-left: 0px;
  }
  .promo__title {
    font-size: 46.24px;
    line-height: 55px;
  }
  .promo__text {
    font-size: 11.1px;
    line-height: 17px;
    max-width: 95%;
    display: flex;
    margin: 0 auto;
  }
  .premium {
    background-size: auto;
  }
  .premium__col {
    flex-direction: column;
    align-self: center;
    padding: 18% 0;
  }
  .premium__col:not(:first-child) {
    width: 246px;
    border-top: 1px solid #C5C5C5;
  }
  .premium__row {
    flex-direction: column;
    padding: 20.5px 0;
  }
  .premium__title {
    font-size: 43.2px;
    line-height: 54px;
    padding-bottom: 10.8px;
  }
  .premium__text {
    font-size: 14.4px;
    line-height: 22px;
  }
  .premium__decor-1, .premium__decor-2 {
    transform: rotate(280deg);
    top: -110px;
    left: -140px;
  }
  .premium__decor-3, .premium__decor-4 {
    transform: rotate(26.78deg);
    top: 620px;
  }
  .quality__row {
    padding: 47px 0px 570px;
    background-position: 50% 460px;
  }
  .quality__col {
    margin-left: 0px;
    width: 100%;
  }
  .quality__title {
    padding-bottom: 37px;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .quality ul {
    width: 315px;
    margin-left: 20px;
    padding-bottom: 19px;
  }
  .quality li {
    font-size: 11.96px;
    line-height: 18px;
    padding-bottom: 16px;
  }
  .quality__decor-2 {
    left: 25px;
    top: 35px;
    transform: rotate(110.82deg);
  }
  .quality__decor-2 svg {
    width: 56.96px;
    height: 101.14px;
  }
  .quality__decor-3 {
    left: 325px;
    top: 40px;
  }
  .dishes__row {
    padding: 92px 0;
  }
  .dishes__pagemenu {
    flex-direction: column;
    position: relative;
  }
  .dishes__button-menu {
    position: absolute;
    top: 920px;
    left: 220px;
  }
  .dishes__title {
    font-size: 30px;
    line-height: 36px;
  }
  .customer__button {
    width: 117px;
  }
  .customer__slider_control {
    right: auto;
  }
  .customer__item {
    flex: 0 0 353px;
  }
  .customer__item:nth-child(1) {
    transform: translate3d(575px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(1) {
    transform: translate3d(0, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(2) {
    transform: translate3d(-400px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(3) {
    transform: translate3d(-800px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .supersale__row {
    flex-direction: column;
    align-items: center;
    padding-top: 61.58px;
  }
  .supersale__promo {
    width: 100%;
  }
  .supersale__promo_decor {
    top: 150px;
    width: 32px;
    left: 90%;
  }
  .supersale__slider_item {
    height: 120px;
    width: 365px;
  }
  .supersale__slider_title {
    font-size: 30.31px;
    line-height: 45px;
  }
  .supersale__slider_promo {
    font-size: 35.33px;
    line-height: 53px;
  }
  .supersale__slider_img {
    width: 102px;
    height: 103px;
    top: 40px;
  }
  .supersale__slider input {
    align-self: center;
    width: 100%;
  }
  .supersale__line {
    margin-bottom: 74.98px;
  }
  .supersale input {
    padding: 20px 0 20px 31px;
  }
  .questions__header_title {
    font-size: 23.6px;
    line-height: 28px;
  }
  .questions__header_decor {
    right: 55px;
    width: 21.54px;
    top: -15px;
  }
  .questions__item {
    min-height: 57px;
  }
  .questions__item_title {
    font-size: 12.3px;
    line-height: 31px;
  }
  .questions__item_questions {
    width: 316px;
  }
  .questions__item_button {
    margin-top: 5px;
    background-size: 25px;
  }
  .questions__item_button.active {
    background-size: 25px;
  }
  .questions__item_question-active {
    font-size: 11px;
    line-height: 18px;
  }
  .category {
    width: 100%;
    padding: 26.82px;
    padding-bottom: 32.72px;
  }
  .category__item {
    width: 55.48px;
    height: 80.76px;
  }
  .category__item:nth-child(1), .category__item:nth-child(2), .category__item:nth-child(3), .category__item:nth-child(4) {
    background-size: 28.98px 28.98px;
  }
  .category__item_title {
    font-size: 11px;
    padding-top: 55px;
  }
  .category__price {
    margin-bottom: 10px;
  }
  .blog__promo {
    display: none;
  }
  .blog__title {
    font-size: 25.71px;
    line-height: 31px;
  }
  .content__article {
    margin-right: 0;
  }
  .content__title {
    font-size: 22.39px;
    line-height: 27px;
  }
  .content_text-2 {
    font-size: 15.48px;
    line-height: 24px;
  }
  .content__article_title {
    font-size: 17.36px;
    line-height: 23px;
  }
  .content__article_text {
    font-size: 11.57px;
    line-height: 23px;
  }
  .support__row_left {
    display: none;
  }
  .support__row_right {
    width: 100%;
  }
  .support__row textarea {
    height: 210px;
  }
  .support__title_right {
    display: block;
    margin-bottom: 46px;
    text-align: center;
    padding: 23.77px 0 97.23px;
    background: #6C5FBC;
    color: white;
    font-size: 30px;
    line-height: 36px;
  }
  .support__title_right span {
    color: white;
  }
  .support__title_img-3 {
    width: 85px;
    bottom: 385px;
    left: -5px;
    top: 0px;
    transform: rotate(65deg);
  }
  .support__title_img-3 path {
    stroke: white;
  }
  .shopping {
    padding-bottom: 0;
  }
  .shopping__row {
    width: 100%;
  }
  .shopping__item_info {
    width: 100%;
  }
  .shopping__cards_decor-1 {
    top: -15px;
    right: -20px;
    width: 20px;
  }
  .shopping__cards_decor-2, .shopping__cards_decor-3 {
    display: none;
  }
  .shopping__form form input {
    width: 70%;
  }
  .shopping__pay_item {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
  }
  .popup {
    margin-top: 100px;
  }
  .popup__row {
    flex-direction: column;
    width: 100%;
  }
  .popup__right {
    display: none;
  }
  .popup__left {
    width: 100%;
  }
  .popup__left_logo {
    display: none;
  }
  .header__logo img {
    width: 112.94px;
    height: 42.31px;
  }
  .header-popup {
    display: block;
  }
  .header__menu.active {
    width: 100%;
  }
  .header__burger.active {
    right: 20px;
  }
  .footer {
    padding: 55px 0 32px;
  }
  .footer__row {
    position: relative;
  }
  .footer__row img {
    width: 99.39px;
    height: 37.45px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__bottom {
    position: relative;
    right: -90px;
    width: 280px;
    padding-top: 26px;
  }
  .footer__socials {
    position: absolute;
    gap: 20px;
    right: 20px;
    top: -305px;
  }
  .footer__icon svg {
    width: 16px;
  }
  .footer .logo {
    align-self: self-start;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    margin-top: 53.09px;
  }
  .footer__item {
    align-self: stretch;
  }
  .menu__link {
    color: #606060;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
  }
  .footer-popup {
    display: flow;
  }
  .footer-popup__row {
    display: grid;
    position: relative;
  }
  .footer-popup__bottom {
    position: relative;
    right: -90px;
    width: 290px;
    padding: 40.53px 0 36px;
  }
  .footer-popup__socials {
    position: absolute;
    gap: 20px;
    right: 20px;
    top: -235px;
  }
  .footer-popup .logo {
    align-self: self-start;
  }
  .footer-popup .menu {
    display: grid;
    gap: 30px;
    line-height: 1.5;
    text-transform: capitalize;
    margin-top: 53.09px;
  }
  .footer-popup .menu__link {
    color: #606060;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
  }
  .getsupersale {
    padding: 67px 0 120px;
  }
  .getsupersale input {
    width: 100%;
    padding: 15.5px 109.22px 15.5px 15.5px;
  }
  .getsupersale placeholder {
    padding-left: -100px;
  }
  .getsupersale__row {
    padding: 35.64px 27.35px 95.73px 27.35px;
  }
  .getsupersale__row_img {
    width: 169px;
    height: 170px;
    top: 70%;
    right: 25%;
  }
  .getsupersale__title {
    font-size: 41.45px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 30px;
  }
  .getsupersale__form_button {
    left: 195px;
  }
}
@media (max-width: 376px) {
  .btn--apply-coupon {
    padding: 15px 24px;
  }
  .promo__row {
    background-size: 278px 250px;
    background-position: center 505px;
  }
  .promo__line {
    left: 15px;
  }
  .container {
    width: 85%;
  }
  .btn--view-all {
    margin-left: -36px;
  }
  .header__button {
    position: absolute;
    right: 55px;
  }
  .header__burger {
    margin-left: auto;
  }
  .footer__bottom {
    width: 265px;
    right: -60px;
  }
  .dishes__cards {
    gap: 20px;
  }
  .shopping__form input {
    width: 75%;
    padding: 15px 0;
    padding-left: 38.5px;
    background-position: 15px center;
  }
  .shopping__item {
    height: 64.87px;
  }
  .shopping__item_info:nth-child(1), .shopping__item_info:nth-child(2) {
    background-size: 55px 55px;
    background-position-y: center;
    background-position-x: 5px;
  }
  .shopping__item_info-1 {
    padding-left: 70px;
  }
  .shopping__item_info-2 {
    padding-right: 15px;
  }
  .shopping__item_counter-raise, .shopping__item_counter-lower {
    border-radius: 5.95px;
    width: 20.02px;
    height: 18.94px;
  }
  .support__row input, .support__row textarea {
    font-size: 11.03px;
    line-height: 17px;
  }
  .support__title_right {
    display: block;
    height: 150px;
    margin-bottom: 46px;
    text-align: center;
    padding-top: 23.77px;
    background: #6C5FBC;
    color: white;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.53px;
  }
  .support__title_right span {
    color: white;
  }
  .support__title_img-3 {
    bottom: 385px;
    left: 0px;
    transform: rotate(51deg);
  }
  .support__title input::-moz-placeholder, .support__title textarea::-moz-placeholder {
    font-size: 11.04px;
    line-height: 17px;
  }
  .support__title input::placeholder, .support__title textarea::placeholder {
    font-size: 11.04px;
    line-height: 17px;
  }
  .quality ul {
    margin-left: 0;
  }
  .quality__row {
    background-position: center 460px;
  }
  .quality__decor-2 {
    left: 10px;
  }
  .quality__decor-3 {
    left: 280px;
    top: 45px;
  }
  .questions__header_decor {
    right: 30px;
  }
  .questions__item_button {
    margin-right: 5px;
  }
  .customer__item {
    flex: 0 0 305px;
    padding: 10px;
  }
  .customer__item:nth-child(1) {
    transform: translate3d(575px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(1) {
    transform: translate3d(0, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(2) {
    transform: translate3d(-350px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(3) {
    transform: translate3d(-700px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__title {
    font-size: 30px;
    line-height: 36px;
  }
  .customer__button {
    width: 100px;
  }
  .customer__slider_control {
    width: 300px;
    left: 0px;
  }
  .content__title {
    font-size: 20px;
  }
  .supersale__slider_item {
    width: 322px;
  }
  .supersale__slider__promo_decor {
    top: -13px;
    right: -18px;
    width: 30px;
  }
  .getsupersale__form_button {
    left: 150px;
  }
  .getsupersale placeholder {
    font-size: 10.58px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding-left: 5px;
  }
  .getsupersale__row_img {
    right: 22%;
  }
  .premium__decor-3, .premium__decor-4 {
    top: 570px;
  }
}
@media (max-width: 320px) {
  .footer__socials {
    gap: 15px;
    right: 10px;
  }
  .footer__bottom {
    right: -10px;
  }
  .promo__row {
    background-size: 240px 220px;
    background-position: center 540px;
  }
  .promo__line {
    left: 0px;
  }
  .customer__item {
    flex: 0 0 255px;
  }
  .customer__item.active:nth-child(1) {
    transform: translate3d(0, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(2) {
    transform: translate3d(-300px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__item.active:nth-child(3) {
    transform: translate3d(-600px, 0px, 0px);
    transition: 1s ease-in-out;
  }
  .customer__button {
    width: 80px;
  }
  .customer__slider_control {
    width: 255px;
  }
  .dishes__button-menu {
    position: absolute;
    top: 1440px;
    left: 180px;
  }
  .category {
    width: 275px;
    padding: 15px 15px 20px 15px;
  }
  .questions__item_question-active {
    width: 80%;
  }
  .questions__item_button {
    background-size: 20px;
  }
  .questions__item_button.active {
    background-size: 20px;
  }
  .questions__item_title {
    width: 200px;
  }
  .questions__header_decor {
    right: 10px;
  }
  .quality ul {
    width: 250px;
  }
  .quality__row {
    background-position: 20px 465px;
  }
  .quality__decor-2 {
    left: -15px;
    top: 50px;
    transform: rotate(105.82deg);
  }
  .quality__decor-3 {
    display: none;
  }
  .supersale__promo_decor {
    left: 89%;
  }
  .supersale__slider_item {
    width: 272px;
  }
  .supersale__slider_img {
    width: 102.77px;
    height: 102.77px;
    right: 10px;
  }
  .shoping__form input {
    width: 223px;
  }
  .btn--apply-coupon {
    width: 79.22px;
  }
  .getsupersale__form_button {
    left: 102px;
  }
  .getsupersale__row_img {
    right: 17%;
    top: 75%;
  }
  .premium__decor-3, .premium__decor-4 {
    top: 520px;
  }
}/*# sourceMappingURL=media.css.map */