* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #676767;
  font-weight: 400;
  background: #F9F9F9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

h2 {
  color: #18181B;
  font-size: 45px;
  font-weight: 600;
  line-height: 25.6px;
  text-transform: capitalize;
}
h2 span {
  color: #6C5FBC;
}

.site {
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #F9F9F9;
  background-size: auto;
  z-index: 1;
}
.header__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.71px solid #CBCBCB;
  padding: 34px 0px 24.6px;
}
.header__nav {
  display: flex;
}
.header__logo {
  margin-right: 103px;
  outline: none;
}
.header__logo img {
  vertical-align: middle;
}
.header__button {
  margin-left: auto;
  display: flex;
  outline: none;
}
.header__burger {
  display: none;
  transition: all 0.3s ease-in;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: 0;
  outline: none;
}
.header__burger span, .header__burger span::before, .header__burger span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #6C5FBC;
}
.header__burger span::before {
  content: "";
  top: -8px;
}
.header__burger span::after {
  content: "";
  top: 8px;
}
.header-popup {
  display: none;
}
.header__menu {
  display: flex;
  flex-direction: row;
  gap: 53.49px;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  align-items: center;
}

.menu__link {
  color: #606060;
  font-size: 17.83px;
  line-height: 27px;
}
.menu__link:hover {
  color: #6C5FBC;
}

.btn {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 17.83px 26.74px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 17.83px;
  outline: none;
}
.btn--shop {
  background: none;
  position: relative;
}
.btn--shop svg {
  fill: #6C5FBC;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 28%;
}
.btn--get-started {
  color: #F9F9F9;
  text-transform: capitalize;
  margin-right: 18px;
  padding: 18px 30px;
  font-weight: 500;
  border-radius: 12.4px;
  font-size: 16.27px;
  line-height: 24px;
  letter-spacing: 0.01em;
  background: #6C5FBC;
}
.btn--get-started:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--Go-pro {
  border: 1.5px solid #6C5FBC;
  color: #6C5FBC;
  font-weight: 500;
  border-radius: 12.4px;
  background: #F9F9F9;
  line-height: 24px;
  text-transform: capitalize;
  padding: 18px 30px;
  font-size: 16.27px;
  letter-spacing: 0.01em;
}
.btn--Go-pro:hover {
  background: #6C5FBC;
  color: #F9F9F9;
}
.btn--download {
  display: flex;
  background: #6C5FBC;
  font-weight: 500;
  width: 190px;
  padding: 9.5px 0px;
  border-radius: 14.68px;
  color: #F9F9F9;
  line-height: 22.6px;
  font-size: 18.06px;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}
.btn--download span {
  margin-left: 15px;
  margin-top: 7px;
}
.btn--download:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--download:hover span svg path {
  stroke: #6C5FBC;
}
.btn--view-all {
  display: flex;
  background: none;
  color: #ACADB9;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -0.1px;
  float: right;
  color: #8E97A6;
}
.btn--view-all span {
  margin-left: 20px;
}
.btn--search {
  background: none;
  position: absolute;
  border-radius: 19.46px;
  bottom: -5px;
  right: 0px;
  font-weight: 500;
  font-size: 20.54px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.btn--apply {
  background: #6C5FBC;
  border-radius: 13.65px;
  color: #F9F9F9;
  text-transform: capitalize;
  width: 100%;
  font-size: 13.73px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.01em;
  padding: 19.5px 0;
}
.btn--apply:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--apply-coupon {
  background: #6C5FBC;
  border-radius: 9.97px;
  color: #F9F9F9;
  line-height: 21px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.02em;
  padding: 24.5px 40px;
}
.btn--apply-coupon:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--payment {
  display: block;
  background: #6C5FBC;
  border-radius: 15.04px;
  color: #F9F9F9;
  text-transform: uppercase;
  padding: 23.5px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.btn--payment:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--subscribe {
  background: #6C5FBC;
  font-size: 14.75px;
  font-weight: 500;
  padding: 15.6px 23.99px;
  border-radius: 11.25px;
  color: #F9F9F9;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.btn--subscribe:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--next-article {
  display: flex;
  background: #6C5FBC;
  font-weight: 500;
  border-radius: 16.49px;
  font-size: 20.29px;
  color: #F9F9F9;
  line-height: 25.4px;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  padding: 16.9px 27.2px;
}
.btn--next-article span {
  margin-left: 27.13px;
  margin-top: 10px;
}
.btn--next-article:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--next-article:hover span svg path {
  stroke: #6C5FBC;
}
.btn--send {
  background: #6C5FBC;
  border-radius: 15.88px;
  color: #F9F9F9;
  font-size: 20.81px;
  line-height: 31px;
  text-transform: capitalize;
  font-size: 20.81px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 22.5px 0;
}
.btn--send:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}
.btn--confirm {
  background: #6C5FBC;
  border-radius: 15.56px;
  color: #F9F9F9;
  font-size: 17.78px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  padding: 23.75px 0;
  text-align: center;
  margin-top: 13px;
}
.btn--confirm:hover {
  background: #F9F9F9;
  color: #6C5FBC;
  border: 1px solid #6C5FBC;
}

.promo {
  margin-top: 107px;
}
.promo__row {
  padding: 120px 0;
  background: url("/src/img/promo-bg.png") no-repeat;
  background-position: center right;
  margin-right: -35px;
  display: flex;
}
.promo__left {
  width: 570px;
  position: relative;
}
.promo__left_bottom {
  padding-top: 33px;
  display: flex;
  align-items: center;
}
.promo__left_bottom svg {
  margin: 10px 10px 0 20px;
}
.promo__left_bottom span {
  margin-top: 14px;
  margin-left: 0px;
  color: #334155;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.promo__line {
  background-color: #201F1F;
  opacity: 0.2;
  width: 54px;
  height: 1px;
  position: absolute;
  top: 7.5px;
}
.promo__subtitle {
  margin-left: 75px;
  color: rgba(32, 31, 31, 0.2);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2px;
}
.promo__title {
  color: #201F1F;
  font-size: 75px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -3px;
  padding-top: 18px;
  padding-bottom: 16px;
}
.promo__title span {
  color: #6C5FBC;
}
.promo__text {
  padding-bottom: 53px;
  color: #676767;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
}

.premium {
  background: #6C5FBC;
  overflow: hidden;
}
.premium__decor {
  position: relative;
}
.premium__decor-1 {
  position: absolute;
  left: -70px;
}
.premium__decor-2 {
  position: absolute;
  left: -70px;
}
.premium__decor-3 {
  position: absolute;
  right: -70px;
}
.premium__decor-4 {
  position: absolute;
  right: -70px;
}
.premium__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 49.5px 0;
}
.premium__col {
  display: flex;
  flex-direction: column;
}
.premium__title {
  color: #fff;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 54px;
  padding-bottom: 23.5px;
}
.premium__text {
  color: #C5BFED;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 21.6px;
}

.quality__row {
  padding: 100px 0 168px;
  background: url(/src/img/quality-bg.png) no-repeat;
  background-position: 10% 84.98px;
  border-bottom: 0.71px solid #CBCBCB;
}
.quality__col {
  margin-left: 53%;
  position: relative;
}
.quality__title {
  padding-bottom: 63px;
  color: #18181B;
  font-size: 50.923px;
  font-weight: 700;
  line-height: 58.2px;
  text-transform: capitalize;
}
.quality__title span {
  color: #6C5FBC;
}
.quality__button {
  position: relative;
}
.quality__decor-2 {
  color: #6C5FBC;
  left: 160px;
  top: 50px;
  position: absolute;
}
.quality__decor-3 {
  position: relative;
  left: 420px;
  top: -30px;
}
.quality ul {
  list-style: disc;
  padding-bottom: 15px;
}
.quality li {
  font-family: "Inter", sans-serif;
  font-size: 20.5px;
  line-height: 30.5px;
  padding-bottom: 27px;
  margin-left: 30px;
}

.dishes__row {
  padding-top: 100px;
  padding-bottom: 120px;
  border-bottom: 0.71px solid #CBCBCB;
}
.dishes__title {
  font-size: 45px;
  text-align: center;
  padding-bottom: 85px;
}
.dishes__title span {
  color: #6C5FBC;
}
.dishes__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: nowrap;
  margin-bottom: 65.36px;
}
.dishes__item {
  width: 225px;
  border-radius: 34.5px;
  border: 1.4px solid #F4F4F6;
  box-shadow: 6.84842px 82.18102px 41.09051px 0px rgba(229, 229, 229, 0.7);
  position: relative;
  transition: transform 0.3s ease;
}
.dishes__item_like {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 22px;
}
.dishes__item_like:active {
  background: url(/src/img/Heart-fill.svg) no-repeat;
}
.dishes__item:hover {
  transform: scale(1.1);
}
.dishes__item:nth-child(1) {
  background: #fff url(/src/img/Food-1.png) no-repeat;
  background-position: 50% 20%;
}
.dishes__item:nth-child(2) {
  background: #fff url(/src/img/Food-2.png) no-repeat;
  background-position: 50% 20%;
}
.dishes__item:nth-child(3) {
  background: #fff url(/src/img/Food-3.png) no-repeat;
  background-position: 50% 20%;
}
.dishes__item:nth-child(4) {
  background: #fff url(/src/img/Food-1.png) no-repeat;
  background-position: 50% 20%;
}
.dishes__item:nth-child(5) {
  background: #fff url(/src/img/Food-2.png) no-repeat;
  background-position: 50% 20%;
}
.dishes__category {
  display: inline-flex;
  font-size: 11.5px;
  font-weight: 400;
  line-height: 17px;
  padding: 5px 7.5px;
  border-radius: 5.4px;
}
.dishes__category_1 {
  color: #DAA31A;
  background: #F7EDD0;
}
.dishes__category_2 {
  color: #FB471D;
  background: #F7C5BA;
}
.dishes__category_3 {
  color: #309D5B;
  background: #dfe8d7;
}
.dishes__category_card {
  margin-top: 225px;
  padding: 0 23.05px 23.28px 31.01px;
}
.dishes__subtitle a {
  color: #323142;
  font-size: 23px;
  font-weight: 600;
  line-height: 37.5px;
  padding-bottom: 10px;
}
.dishes__comment {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  margin-bottom: 10.82px;
}
.dishes__comment_star {
  padding-left: 6.5px;
  padding-right: 6.5px;
}
.dishes__price {
  display: flex;
  color: #323142;
  font-family: "Manrope", sans-serif;
  font-size: 25.936px;
  font-weight: 700;
  line-height: 40.345px;
  align-items: center;
}
.dishes__price_sub {
  color: #8E97A6;
  font-size: 19px;
  margin-top: 3px;
}
.dishes__add {
  width: 44px;
  height: 40px;
  background: #323142 url(/src/img/+.svg) no-repeat;
  background-position: 50%;
  border-radius: 9px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}
.dishes__add svg {
  position: absolute;
  top: 33%;
  right: 33%;
}

.customer__row {
  padding: 120px 0 180px;
}
.customer__title {
  text-align: center;
  padding-bottom: 80px;
}
.customer__card {
  display: flex;
  gap: 30px;
  overflow: hidden;
}
.customer__list {
  display: flex;
  padding-bottom: 43px;
  position: relative;
  gap: 45px;
}
.customer__slider {
  display: flex;
  min-height: 400px;
}
.customer__slider_control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.customer__button {
  background: #e7e5f4;
  border-radius: 78.5px;
  width: 191px;
  height: 11px;
  margin-right: -5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.customer__button.active {
  background: #6C5FBC;
  z-index: 100;
}
.customer__item {
  background: #fff;
  border-radius: 21px;
  flex: 0 0 528px;
  padding: 43px;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  transition: transform 0.5s;
  transform: translate3d(0px, 0px, 0px);
}
.customer__item_col {
  margin-left: 21px;
}
.customer__item_name {
  color: #030314;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 31.5px;
}
.customer__item_date {
  color: #5E5D5D;
  font-family: Quicksand;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
}
.customer__item_decor {
  margin-left: auto;
}
.customer__item_img {
  border-radius: 50px;
  width: 71px;
  height: 71px;
}
.customer__item_text {
  color: #969696;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 32px;
}
.customer__item_text-active {
  color: #636363;
  padding-bottom: 39px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
}
.customer__item_rating {
  display: flex;
  gap: 4px;
  height: 23px;
}
.customer__item_top {
  display: none;
}
.customer__item_top.active {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
.customer__item:nth-child(1) {
  transform: translateX(-110%);
  transition: 1s ease-in-out;
}
.customer__item:nth-child(2) {
  transform: translateX(0%);
  transition: 1s ease-in-out;
}
.customer__item:nth-child(3) {
  transform: translateX(0%);
  transition: 1s ease-in-out;
}
.customer__item.active:nth-child(1) {
  transform: translateX(0%);
  transition: 1s ease-in-out;
}
.customer__item.active:nth-child(2) {
  transform: translateX(-110%);
  transition: 1s ease-in-out;
}
.customer__item.active:nth-child(3) {
  transform: translateX(-217%);
  transition: 1s ease-in-out;
}

.questions__row {
  padding: 171.5px 0 164.5px;
}
.questions__header {
  position: relative;
}
.questions__header_decor {
  position: absolute;
  top: -25px;
  right: 410px;
  width: 32.8px;
}
.questions__header_title {
  font-size: 45px;
  text-align: center;
  padding-bottom: 60px;
  line-height: 54px;
}
.questions__header_title span {
  color: #6C5FBC;
}
.questions__list {
  display: flex;
  flex-direction: column;
}
.questions__item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #8E97A6;
  min-height: 110px;
  width: 100%;
  margin-left: 8px;
  padding: 45px 0 30px;
}
.questions__item_title {
  position: relative;
  color: #323142;
  font-size: 23.5px;
  font-weight: 600;
  line-height: 60px;
  align-self: auto;
}
.questions__item_questions {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.questions__item_question {
  display: none;
}
.questions__item_question-active {
  display: block;
  color: #686868;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.2px;
  width: 90%;
}
.questions__item_button {
  background: url(/src/img/Plus.svg) no-repeat;
  width: 31px;
  height: 31px;
  margin-top: 15px;
  margin-right: 12px;
  margin-left: auto;
  cursor: pointer;
}
.questions__item_button.active {
  background: url(/src/img/minus.svg) no-repeat;
}
.questions__item.active {
  display: flex;
  border-bottom: 1px solid #8E97A6;
}

.footer {
  padding: 90px 0 80px;
  background: #EAEAEA;
}
.footer__row {
  padding-bottom: 29px;
  border-bottom: 1px solid #818181;
}
.footer__row img {
  width: 150.7px;
  height: 57px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
}
.footer__text {
  color: #999;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.footer__socials {
  display: flex;
  gap: 53.8px;
  align-items: flex-end;
}
.footer__icon svg {
  fill: #081420;
  height: 21.42px;
}
.footer__icon:hover {
  fill: #6C5FBC;
}
.footer-popup {
  display: none;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  gap: 70px;
  text-transform: capitalize;
}
.footer .logo {
  align-self: end;
}

.blog__row {
  padding: 100px 0 120px;
}
.blog__row-top {
  padding-top: 0px;
  margin-left: 24.18px;
  width: 326px;
}
.blog__promo {
  border-left: 0.7px solid #B7B4B4;
}
.blog__title {
  font-size: 45px;
  text-align: center;
  padding-bottom: 75px;
}
.blog__title span {
  color: #6C5FBC;
}
.blog__title-promo {
  color: #252525;
  font-size: 30px;
  font-weight: 600;
  line-height: 44.5px;
  padding-bottom: 34px;
  margin-left: 10px;
}
.blog__cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  row-gap: 80px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.blog__cards_promo {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 60px;
}
.blog__item {
  width: 350px;
  border-radius: 15.9px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding: 25px 20px 30.5px 20px;
}
.blog__item-promo {
  width: 298px;
}
.blog__item:hover {
  box-shadow: 0px 3.9px 46.9px 0px rgba(197, 197, 197, 0.25);
}
.blog__item_img img {
  width: 100%;
}
.blog__item_img img-promo img {
  width: 85%;
}
.blog__item_card {
  display: flex;
  gap: 11.5px;
}
.blog__item_logo {
  background: url(/src/img/blog_item_img.png) no-repeat center center;
  width: 45px;
  height: 45px;
  border-radius: 25px;
}
.blog__item_title {
  padding: 20px 0;
  color: #252525;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
}
.blog__item_text-1 {
  color: #8D8D8D;
  font-size: 12px;
  font-weight: 400;
}
.blog__item_text-2 {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
}
.blog__item_date {
  color: #B7B4B4;
  font-size: 16px;
  font-weight: 500;
  line-height: 31.5px;
  margin-left: auto;
  align-self: self-end;
}

.content {
  padding-bottom: 160px;
}
.content__row {
  padding-top: 120px;
}
.content__title {
  color: #252525;
  font-size: 37.5px;
  font-weight: 600;
  line-height: 44.5px;
  padding-bottom: 32px;
}
.content__subtitle {
  display: flex;
  gap: 15px;
  padding-bottom: 62px;
}
.content_logo {
  background: url(/src/img/blog_item_img.png) no-repeat;
  width: 55px;
  height: 55px;
}
.content_text-1 {
  color: #8D8D8D;
  font-size: 15px;
  font-weight: 400;
}
.content_text-2 {
  color: #000;
  font-size: 21.5px;
  font-weight: 500;
  line-height: 26px;
}
.content__bg {
  width: 100%;
}
.content__promo {
  padding-top: 80px;
  display: flex;
}
.content__article {
  margin-right: 75px;
}
.content__article_title {
  color: #252525;
  font-size: 33px;
  font-weight: 600;
  line-height: 44.5px;
  text-transform: capitalize;
  padding-bottom: 35px;
}
.content__article_text {
  color: #252525;
  text-align: justify;
  font-size: 22px;
  font-weight: 400;
  line-height: 44.5px;
  padding-bottom: 100px;
}
.content__article ul {
  padding-top: 55px;
  margin-left: 20px;
  list-style: disc;
}

.getsupersale {
  margin-top: 107px;
  padding: 60px 0 80px;
  position: relative;
}
.getsupersale__row {
  padding: 60px 65px;
  background: #6C5FBC url(/src/img/bg_supersale.png);
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.getsupersale__row_img {
  width: 274px;
  position: absolute;
  right: 70px;
  top: 70px;
}
.getsupersale__title {
  color: #FFF;
  font-size: 70px;
  font-weight: 800;
}
.getsupersale__form {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.getsupersale__form_button {
  position: absolute;
  left: 298px;
}
.getsupersale input {
  width: 440px;
  padding: 22.5px;
  border: 1px solid #F9F9F9;
  border-radius: 14.2px;
  box-shadow: 0px 7.25333px 45.33334px 0px rgba(0, 0, 0, 0.1);
  outline: 0;
}
.getsupersale placeholder {
  color: #878787;
  font-size: 16.27px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.shopping {
  margin-top: 107px;
  padding: 120px 0;
}
.shopping__row {
  position: relative;
  width: 692px;
  margin: 0 auto;
}
.shopping__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.shopping__cards_decor-1 {
  position: absolute;
  top: -35px;
  right: -45px;
  width: 40px;
}
.shopping__cards_decor-2 {
  position: absolute;
  right: -125px;
  bottom: 5px;
  transform: scale(-1, 1);
}
.shopping__cards_decor-3 {
  position: absolute;
  left: -125px;
  bottom: 5px;
}
.shopping__form {
  display: flex;
  flex-direction: row;
  margin: 89px 0 51.68px;
  justify-content: space-between;
}
.shopping__form input {
  width: 542px;
  padding: 25px 0 20px 21px;
  border: none;
  border-radius: 9.97px;
  padding-left: 91px;
  background: #EDEDED url(/src/img/coupon.svg) no-repeat;
  background-position: 28.5px center;
  outline: 0;
}
.shopping__form input::-moz-placeholder {
  color: #AAABBA;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding: 25px 0;
}
.shopping__form input::placeholder {
  color: #AAABBA;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding: 25px 0;
}
.shopping__item {
  width: 100%;
  padding: 24.5px 0;
  border-radius: 12px;
  border: 1.4px solid #F4F4F6;
  display: flex;
  justify-content: space-between;
}
.shopping__item_info:nth-child(1) {
  background: #fff url(/src/img/Food-1.png) no-repeat;
  background-size: 100px 100px;
  background-position-y: bottom;
}
.shopping__item_info:nth-child(2) {
  background: #fff url(/src/img/Food-2.png) no-repeat;
  background-size: 100px 100px;
  background-position-y: bottom;
}
.shopping__item_info-1 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 115px;
  gap: 4px;
}
.shopping__item_info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 57px;
  gap: 8.5px;
}
.shopping__item_counter {
  height: 31.5px;
  display: flex;
  align-items: center;
}
.shopping__item_counter-lower {
  width: 33.5px;
  height: 31.5px;
  border: 1px solid black;
  border-radius: 10px;
  background: url(/src/img/Mins.svg) no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.shopping__item_counter input {
  width: 40px;
  height: 25px;
  border: 1px;
  outline: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
}
.shopping__item_counter input[type=number]::-webkit-outer-spin-button,
.shopping__item_counter input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.shopping__item_counter input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
.shopping__item_counter-raise {
  cursor: pointer;
  width: 33.5px;
  height: 31.5px;
  border: 0px;
  border-radius: 10px;
  background: #323142 url(/src/img/+.svg) no-repeat;
  background-position: 50%;
}
.shopping__item_counter-raise svg {
  fill: #F9F9F9;
}
.shopping__item_subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  color: #323142;
}
.shopping__item_price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #323142;
}
.shopping__item_price-total {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.shopping__pay {
  margin-bottom: 39px;
}
.shopping__pay_item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #323142;
}
.shopping__pay_item:not(:last-child) {
  border-bottom: 1px dashed #ACADB9;
  padding-top: 16px;
  padding-bottom: 13.5px;
}
.shopping__pay_item:last-child {
  padding-top: 28.6px;
  padding-bottom: 61px;
  font-size: 25px;
  font-weight: 600;
}
.shopping__price {
  display: flex;
  color: #323142;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.shopping__price_sub {
  font-weight: 400;
  font-size: 20px;
  margin-top: 3px;
  color: #323142;
  line-height: 17px;
}
.shopping__price_total {
  font-weight: 600;
  font-size: 25px;
  line-height: 17px;
}

.support {
  margin-top: 107px;
  padding: 210px 0;
}
.support__row {
  display: flex;
  position: relative;
}
.support__row_left {
  width: 530px;
  height: 100%;
  position: absolute;
  background: #6C5FBC url(/srs/img/decor10.svg) no-repeat;
  background-position: 16.5% 5.75%;
  left: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support__row_right {
  width: 493px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  position: relative;
}
.support__row input, .support__row textarea {
  border: 1px solid lightgray;
  outline: 0;
  border-radius: 17px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 25px;
  padding: 25.34px 26.5px;
  margin-bottom: 26px;
}
.support__row textarea {
  padding: 22.65px 22.65px 294.35px 22.65px;
  overflow: hidden;
  resize: none;
  margin: 25px 0 43px;
}
.support__row input::-moz-placeholder, .support__row textarea::-moz-placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16.89px;
  line-height: 25px;
  color: #B6B6B6;
}
.support__row input::placeholder, .support__row textarea::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16.89px;
  line-height: 25px;
  color: #B6B6B6;
}
.support__row input:hover, .support__row textarea:hover {
  border: 1px solid #6C5FBC;
}
.support__title {
  padding-top: 84.4px;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  position: relative;
}
.support__title_img-1 {
  width: 336px;
  position: absolute;
  top: 110px;
}
.support__title_img-2 {
  position: absolute;
  left: 380px;
  top: 280px;
}
.support__title_img-3 {
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 122px;
}
.support__title_img-4 {
  position: absolute;
  right: -215px;
  top: 255px;
}
.support__title_right {
  color: #000;
  font-size: 40px;
  padding-top: 0px;
  padding-bottom: 62px;
  text-align: left;
  position: relative;
}
.support__title_right span {
  color: #6C5FBC;
}

.about {
  padding: 80px 0;
}
.about__row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about__title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
.about__text, .about__delivery {
  color: #252525;
  font-size: 23.6px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 30px;
  text-align: center;
  width: 85%;
  margin: 25px auto;
}
.about__delivery {
  font-weight: 700;
}
.about__list, .about__info_title, .about__time {
  color: #6C5FBC;
  font-size: 23.6px;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 25px;
}
.about__list_item {
  color: #252525;
  font-size: 23.6px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 100px;
  padding-left: 20px;
  list-style: url("/src/img/like.svg");
  margin-top: 10px;
}
.about__info_tel, .about__time_hour {
  color: #252525;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 50px;
}

.map {
  margin-top: 107px;
  padding-top: 120px;
}
.map iframe {
  border: 0;
  border-radius: 25px;
}

.popup__row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.popup__left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.popup__left_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24.46px;
  width: 385.54px;
  padding: 88.16px 0 163px;
  margin: 0 auto;
}
.popup__left_logo {
  padding: 32px 0 0 48px;
}
.popup__left_title {
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  letter-spacing: -0.04em;
  color: #323142;
  padding-bottom: 80px;
}
.popup__left input {
  width: 385.54px;
  border: 1px solid transparent;
  border-radius: 14.27px;
  padding: 24.46px 0 25.03px 91px;
  outline: none;
  text-transform: uppercase;
}
.popup__left input:hover {
  border: 1px solid #6C5FBC;
}
.popup__left input[type=text] {
  background: #EDEDED url(/src/img/UserIcon.svg) no-repeat;
  background-position: 28.5px 50%;
}
.popup__left input[type=email] {
  background: #EDEDED url(/src/img/Email.svg) no-repeat;
  background-position: 28.5px 50%;
}
.popup__left input[type=number] {
  background: #EDEDED url(/src/img/mobile.svg) no-repeat;
  background-size: 19px;
  background-position: 28.5px 50%;
}
.popup__left input[type=number]::-webkit-outer-spin-button,
.popup__left input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup__left input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
.popup__left placeholder {
  font-weight: 600;
  font-size: 16.68px;
  line-height: 25px;
  letter-spacing: 0.07em;
}
.popup__right {
  display: flex;
  flex-direction: column;
  background: #6C5FBC url(/src/img/promo-bg.png) no-repeat;
  background-position: 50% 30%;
  background-size: 550px;
  width: 50%;
  justify-content: end;
  align-items: center;
  padding-bottom: 112px;
}
.popup__right_title {
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  width: 90%;
}
.popup__right_text {
  width: 500px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  padding-top: 15px;
  width: 90%;
}
.popup .container {
  width: 100%;
  max-width: 1440px;
}

.supersale {
  margin-top: 107px;
}
.supersale__row {
  padding: 120px 0 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 112px;
  border-bottom: 0.71px solid #CBCBCB;
}
.supersale__promo {
  display: flex;
  width: 60%;
  flex-direction: column;
  position: static;
  overflow: hidden;
}
.supersale__promo_decor {
  position: absolute;
  top: 190px;
  left: 58%;
}
.supersale__list {
  display: flex;
  flex-direction: row;
  position: relative;
}
.supersale__slider {
  width: 300%;
}
.supersale__slider_item {
  width: 100%;
  border-radius: 18.69px;
  position: relative;
  background: url(/src/img/bg_supersale.png), #6C5FBC;
  margin-right: 10px;
  padding: 30px 0 107px 58.43px;
}
.supersale__slider_item:nth-child(1) {
  transform: translateX(-110%);
  transition: 1s ease-in-out;
}
.supersale__slider_item:nth-child(2) {
  transform: translateX(90%);
  transition: 1s ease-in-out;
}
.supersale__slider_item:nth-child(3) {
  transform: translateX(180%);
  transition: 1s ease-in-out;
}
.supersale__slider_item:nth-child(1).active {
  transform: translateX(0%);
  transition: 1s ease-in-out;
}
.supersale__slider_item:nth-child(2).active {
  transform: translateX(-101%);
  transition: 1s ease-in-out;
}
.supersale__slider_item:nth-child(3).active {
  transform: translateX(-202%);
  transition: 1s ease-in-out;
}
.supersale__slider_title {
  color: #FFF;
  font-size: 75px;
  line-height: 112px;
  font-weight: 800;
}
.supersale__slider_promo {
  color: #7C6FCD;
  font-size: 81px;
  line-height: 131px;
  font-weight: 800;
  position: absolute;
  top: 95px;
  letter-spacing: -0.2rem;
}
.supersale__slider_img {
  width: 254px;
  height: 256px;
  position: absolute;
  right: 35.7px;
  top: 50px;
}
.supersale__line {
  display: flex;
  padding-top: 50px;
  gap: 7.5px;
  justify-content: center;
}
.supersale__line_item {
  cursor: pointer;
  width: 30px;
  height: 6px;
  border-radius: 55.5px;
  background: #DBD9EE;
}
.supersale__line_item-active {
  width: 61px;
  height: 6px;
  border-radius: 55.5px;
  background: #6C5FBC;
}

.search {
  margin-top: auto;
  position: relative;
}
.search input[type=search]::-webkit-search-decoration,
.search input[type=search]::-webkit-search-cancel-button,
.search input[type=search]::-webkit-search-results-button,
.search input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.search input {
  border: none;
  border-radius: 18.69px;
  padding: 30.5px 0 25.5px 31px;
  margin-top: auto;
  background: #EDEDED;
  background-position: 28.5px 19px;
  outline: 0;
  width: 100%;
}
.search input::-moz-placeholder {
  color: #AAABBA;
  font-family: "Poppins", sans-serif;
  font-size: 20.5px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.search input::placeholder {
  color: #AAABBA;
  font-family: "Poppins", sans-serif;
  font-size: 20.5px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.category {
  padding: 32px 33px 39px 33px;
  display: flex;
  flex-direction: column;
  width: 377px;
  background: #F9F9F9;
  border-radius: 23.8px;
  box-shadow: 5.71212px 9.5202px 28.5606px 0.95202px rgba(108, 95, 188, 0.12);
}
.category__card_col {
  padding: 13px 0 28.88px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.category__card_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category__card_history {
  color: #ACADB9;
  font-size: 15.5px;
  font-weight: 500;
  line-height: 29px;
  cursor: pointer;
}
.category__card_history-active {
  color: #6C5FBC;
}
.category__title {
  color: #323142;
  font-size: 21.5px;
  font-weight: 600;
  line-height: 29px;
}
.category__title_line {
  margin-top: 27px;
  margin-bottom: 13.21px;
  background: #6C5FBC;
  width: 100%;
  height: 5.3px;
  border-radius: 8.8px;
  position: relative;
}
.category__title_circle {
  position: absolute;
  background: url(/src/img/price.svg);
  width: 24.64px;
  height: 25.45px;
  bottom: -10px;
  left: 35px;
}
.category__title_circle:hover {
  cursor: grab;
}
.category__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 25.5px;
}
.category__item {
  width: 66px;
  border-radius: 14.7px;
  cursor: pointer;
}
.category__item:nth-child(1) {
  background: rgba(255, 222, 138, 0.35) url(/src/img/Pizza.png) no-repeat;
  background-position: center 14.5px;
}
.category__item:nth-child(2) {
  background: rgba(251, 71, 29, 0.35) url(/src/img/Hotdog.png) no-repeat;
  background-position: center 8.5px;
}
.category__item:nth-child(3) {
  background: rgba(237, 182, 107, 0.35) url(/src/img/Doughnut.png) no-repeat;
  background-position: center 14.5px;
}
.category__item:nth-child(4) {
  background: rgba(90, 133, 255, 0.35) url(/src/img/Icecream.png) no-repeat;
  background-position: center 14.5px;
}
.category__item-active:nth-child(1) {
  border: 4px solid rgba(255, 222, 138, 0.5);
}
.category__item-active:nth-child(2) {
  border: 4px solid rgba(251, 71, 29, 0.5);
}
.category__item-active:nth-child(3) {
  border: 4px solid rgba(237, 182, 107, 0.5);
}
.category__item-active:nth-child(4) {
  border: 4px solid rgba(90, 133, 255, 0.5);
}
.category__item_title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  padding: 68px 0 11px;
}
.category__item_title-1 {
  color: #D69900;
}
.category__item_title-2 {
  color: #FB471D;
}
.category__item_title-3 {
  color: #E28B14;
}
.category__item_title-4 {
  color: #002073;
}
.category__price {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 10.5px;
  line-height: 30px;
  color: #C2C3CB;
  margin-bottom: 39px;
}/*# sourceMappingURL=style.css.map */