//color 
$lite-gray: #676767;
$gray: #8E97A6;
$madium-gray: #606060;
$dark-gray:#201F1F;
$purple: #6C5FBC;
$white: #fff;
$bgwhite: #F9F9F9;
$black:  #323142;

//fonts
$Poppins: 'Poppins', sans-serif;
$Inter: 'Inter', sans-serif;
$PublicSans: 'Public Sans', sans-serif;
$Manrope: 'Manrope', sans-serif;