@media (max-width: 2560px) {
    .supersale {
        &__promo {
            &_decor {
                left: 55%;
            }
        }
    }
    .premium {
        &__decor {
            &-1 {
                left: -625px;
            }
            &-2 {
                left: -625px;
            }
            &-3 {
                right: -625px;
            }
            &-4 {
                right: -625px;
            }
        }
    } 
}

@media (max-width: 1920px) {
    .supersale {
        &__promo {
            &_decor {
                left: 56%;
            }
        }
    }
    .premium {
        &__decor {
            &-1 {
                left: -310px;
            }
            &-2 {
                left: -310px;
            }
            &-3 {
                right: -310px;
            }
            &-4 {
                right: -310px;
            }
        }
    }

}

@media (max-width: 1600px) {
    .supersale {
        &__promo {
            &_decor {
                left: 57%;
            }
        }
    }
    .premium {
        &__decor {
            &-1 {
                left: -150px;
            }
            &-2 {
                left: -150px;
            }
            &-3 {
                right: -150px;
            }
            &-4 {
                right: -150px;
            }
        }
    }    
}

@media (max-width: 1440px) {
    .supersale {
        &__promo {
            &_decor {
                left: 58%;
            }
        }
    }

    .premium {
        &__decor {
            &-1 {
                position: absolute;
                left: -70px;
            }
            &-2 {
                position: absolute;
                left: -70px;
            }
            &-3 {
                position: absolute;
                right: -70px;
            }
            &-4 {
                position: absolute;
                right: -70px;
            }
        }
    }
}

@media (max-width: 1280px) {
    .supersale {
        &__slider {
            &_title {
                font-size: 63px;
            }
            &_weekend {
                font-size: 63px;
                top: 85px;
            }
            &_img {
                width: 220px;
                height: 220px;

            }
        }
        &__promo {
            &_decor {
                left: 56%;
            }
        }
    }

    .questions {
        &__header {
            &_decor {
                right: 320px;
            }
        }
    }

    .support {
        &__row {
            &_left {
                width: 480px;
            }
        }
        &__title {
            &_img {
                &-2 {
                    left: 320px;
                }
                &-3 {
                    left: -90px;
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .btn {
        padding: 12.68px 19.02px;
        font-size: 12.68px;
        &--shop, &--like {
            svg {
                width: 25px;
                height: 25px;
            }
        }
        &--confirm {
            border-radius: 12.6px;
            font-weight: 600;
            font-size: 14.35px;
            line-height: 22px;
            padding: 17.39px 0 16.58px;
            margin-top: 10.28px;
        }

        &--send {
            border-radius: 12.6px;
            font-weight: 500;
            font-size: 14.8px;
            line-height: 22px;
        }
        &--apply {
            border-radius: 12.6px;
            font-size: 9.8px;
            line-height: 15px;
        }

        &--apply-coupon {
            border-radius: 7.09px;
            font-weight: 500;
            font-size: 12.8px;
            line-height: 15px;
            padding: 17.4px 28.44px;
        }

        &--payment {
            border-radius: 7.09px;
            margin-top: 39px;
            font-size: 14.2px;
            line-height: 21px;
            font-weight: 600;
            letter-spacing: -0.01em;
            padding: 16px;
        }

        &--get-started {
            font-weight: 500;
            border-radius: 8.9px;
            font-size: 11.6px;
            line-height: 17px;
        }
        &--Go-pro {
            font-weight: 500;
            border-radius: 8.9px;
            font-size: 11.6px;
            line-height: 17px;
        }
        &--download {
            display: flex;
            font-weight: 500;
            width: 133px;
            padding: 3px;
            border-radius: 8.9px;
            font-size: 12.85px;
            line-height: 16px;
            margin-top: 23.5px;
            span {
                margin-left: 5px;
                margin-top: 5px;
                svg {
                    width: 19.27px;
                }
            }
        }
        
        &--view-all {
            span {
                margin-top: 3px;
            }
        }
        &--subscribe {
            font-weight: 500;
            // width: 94px;
            border-radius: 8.9px;
            font-size: 10.5px;
            line-height: 16px;
        }
        &--next-article {
            width: 174.5px;
            border-radius: 11.73px;
            font-weight: 600;
            font-size: 14.4px;
            line-height: 18px;
            padding: 8px 16.52px 8px 19.35px;
            span {
                margin-left: 15px;
                margin-top: 7px;
            }        
        }
    }

    .menu {
        &__link {
            font-size: 12.68px;
            line-height: 19px;            
        }
        // &__item {
        //     margin-top: 40px;
        //     margin-bottom: 20px;            
        // }
    }

    .header {
        &__row {
            img {
            width: 79.5px;
            height: 30px;
            }
        }  

        &__button {
            margin-right: 15px;
            &_count {
                height: 18px;
                width: 18px;
                font-size: 13px;
            }
        }
        &__buttonLike {
            margin-right: 15px;
            &_count {
                left: 25px;
                height: 18px;
                width: 18px;
                font-size: 13px;
            }
        }
        &__burger {
            display: flex; 
            position: relative; 
        }

        &__burger.active { 
            position: absolute;
            right: 50px;
            top: 40px;
            z-index: 2;                 
            span {                
                width: 0;
            }
            span::before {
                position: absolute;
                transform: rotate(45deg);
                top: 0;
                left: 0;
                width: 30px;
                transition: transform 0.5s linear;
                animation-delay: 2s;
                background-color: white;
            }
            span::after {
                position: absolute;
                transform: rotate(-45deg);    
                top: 0;       
                left: 0;
                width: 30px;
                transition: transform 0.5s linear;
                background-color: white;
            }                      
        }

        &__menu {
            display: none;                 
        }

        &__menu.active {
            padding-top: 80px;
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            right: 0;
            top: 0;
            background: #6C5FBC no-repeat;
            width: 45%;
            height: 100vh;
            z-index: 1;
            font-size: 17px;
            line-height: 24px;
            box-shadow: 2px 2px 6px darkblue;
            animation: show 0.5s forwards;
            animation-delay: -2s;
            
            @keyframes show {
                0% {
                    transform: scale(0);
                }
                25% {
                    transform: scale(0.25);
                }
                50% {
                    transform: scale(0.5);
                }
                75% {
                    transform: scale(0.75);
                }
                100% {
                    transform: scale(1);
                }
            }
            a {
                color: white;
                font-size: 17.83px;  
                line-height: 27px;
            }
            a:hover {
                text-shadow: rgb(32, 31, 30) 1px 0 10px;
            }  
        }  
        .menu__item {
            margin-top: 40px;
            margin-bottom: 20px;
        }       
    
    }

    .footer {
        padding: 68.3px 0 57.4px;
        &__row {
            padding-bottom: 20.62px;
            img {
                width: 107.55px;
                height: 40.53px;
                }
        }

        &__bottom {
            padding-top: 40.53px;
        }

        &__text {
            font-size: 12.09px;
            line-height: 17.8px;
        }

        &__socials {
            gap: 38px;
        }

        &__icon svg{
            height: 15.23px;
        }
    }  

    .promo {
        margin-top: 90px;
        &__title {
            font-size: 53.5px;
        }
        &__text {
            font-size: 13px;
            max-width: 400px;
        }
        
        &__row {
            background-size: 483px 431px;
        }
    }
        
    .quality {      
        &__row {
            padding: 73px 0 85.33px;
            background-position: 78px 73.6px;
            background-size: 216px auto;
        }

        &__col {
            width: 400px;
        }

        &__title {
        font-size: 36px;
        padding: 15px 0 45px;
        }

        li {
        font-size: 14.5px;
        padding-bottom: 19.25px;
        line-height: 21.7px;
        }

        &__decor {
            &-2 {
                left: 110px;
                top: 30px;
                width: 100px;
                height: 62px;
            }
            &-3 {
                left: 300px;
                width: 37px;
                top: -15px;
            }
        }
    }

    .premium {
        &__row {
            padding: 35.19px 0;
        }

        &__decor {
            &-1 {
                left: -105px;
                height: 156.8px;

            }
            &-2 {
                left: -112px;
                height: 156.8px;
            }
            &-3 {
                right: -80px;
                height: 156.8px;
            }
            &-4 {
                right: -65px;            
                height: 156.8px;
            }
        }

        &__title {
            font-size: 30.72px;
            line-height: 38.4px;
            padding-bottom: 20px;
        }

        &__text {
            font-size: 10.24px;
            line-height: 15.4px;
        }
    
    }
       
    .dishes {
        &__row {
            padding: 74px 0;
        }

        &__title {
            padding-bottom: 53.5px;
        }

        &__item {
        width: 200px;
        border-radius: 24.59px;
            &_img {
                width: 160px;
                padding-top: 10px;
                // left: 15px;
                // top: 26px;
            }
            &_like {
                top: 17px;
                right: 15.45px;
                svg {
                    width: 20px;
                    height: 18px;
                }                
            }    
            &_like-active {
                top: 17px;
                right: 15.45px;
                svg {
                    width: 20px;
                    height: 18px;
                }               
            }
        }

        &__category {
            font-size: 8px;
            padding: 2px 5.5px;
            &_card {
                padding: 20px 10.5px 19.48px 10.5px;
            }
        }

        &__comment {
            font-size: 16px;
            &_star {
                padding-right: 10px;
                svg {
                    width: 20px;
                    height: 21px;
                }
            }
        }

        &__subtitle{
            font-size: 20px;
        }
        // &__price {
        //     font-size: 18.5px;
        //     // height: 28.7px;
        //     span {
        //         font-size: 18.5px;
        //         margin-top: 0px;
        //     }
        // }
        &__add {
            width: 31px;
            height: 28px;
        }
        // &__pagemenu {
        //     height: 33px;
        //     margin-bottom: 46px;
        // }
        &__cards {
            margin-bottom: 46.5px;
            gap: 21.89px;
        }
    }
  
    .supersale {
        margin-top: 90px;
        &__row {
            gap: 79.64px;
        }

        &__promo {
            &_decor {
                left: 58%;
                top: 185px;
                width: 50px;
            }
        }

        &__slider {
            &_item {
                width: 557px;
                padding-top: 30.66px;
                padding-bottom: 67.92px;
                padding-left: 41.55px;
                border-radius: 13.29px;
                margin-right: 5px;
            }
            &_title {
                font-size: 53.33px;
                line-height: 80px;
            }
            &_promo {
                font-size: 62.16px;
                top: 55px;
                letter-spacing: -0.2rem;
            }
            &_img {
                width: 180px;
                height: 180px;
                top: 35.55px;
                right: 25.4px;
            }
        }      
        input {
            padding-left: 65px;
            background-position: 20.24px center;
        }
    }

    .category {
        width: 268px;
        padding: 22.75px;
        padding-bottom: 27.75px;         
        &__title {
            font-size: 15.25px;
            line-height: 21px;
            &_line {
                margin-top: 11.8px;
            }
        }
        
        &__item {
            width: 47px;
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                background-size: 24.5px 24.5px;
            }
            &_title {
                padding-top: 48.12px;
                padding-bottom: 7.85px;
                line-height: 13px;
            }
            
        }
        &__card {
            &_history {
                font-size: 10.99px;
                line-height: 21px;
            }
            &_col {
                padding: 26px 0 30px;
            }
        }
        &__price {
            font-size: 10.99px;
            line-height: 21px;
            margin-bottom: 10px;
        }
    }

    .customer {
        &__row {
            padding: 71.5px 0 134px;
        }

        &__slider {
            gap: 29.11px;            
        }

        &__item {
            flex: 0 0 375.5px;
            padding: 27px 30.5px;

            &_img {
                width: 50.52px;
                height: 50.52px;
            }
            &_name {
                font-size: 14.8px;                
            }
            &_text {
                font-size: 12.8px;
                line-height: 19px;
                padding-bottom: 22.42px;
                &-top {
                    padding-bottom: 27.4px;
                }
            }
            &_text-active {
                font-size: 12.8px;
                line-height: 19px;
                padding-bottom: 22.42px;
            }
            &_top {
                margin-bottom: 22.73px;
            }
            &_decor img {
                width: 41.5px;
                height: 31.5px;
            }
        }

        &__item:nth-child(1) {
            transform: translate3d(420px, 0px, 0px);  
            transition: 1s ease-in-out;
        }
    
        &__item.active:nth-child(1) {
            transform: translate3d(0, 0px, 0px);  
            transition: 1s ease-in-out;
        }
    
        &__item.active:nth-child(2) {
            transform: translate3d(-420px, 0px, 0px);        
            transition: 1s ease-in-out;
        }
        &__item.active:nth-child(3) {
            transform: translate3d(-840px, 0px, 0px);        
            transition: 1s ease-in-out;
        }

        &__button {
            width: 135px;
            height: 7.82px;
        }
    }

    .shopping {
        margin-top: 90px;
        &__row {
            width: 492px;
        }

        &__cards {
            &_decor {
                &-1 {
                    width: 29.16px;
                    top: -30px;
                    right: -35px;
                }
                &-2 {
                    right: -90px;
                    width: 85px;
                }
                &-3 {
                    left: -90px;
                    width: 85px;
                }
            }
        } 

        &__item {
            padding: 17.35px 0;
            background-size: 70.2px;
            &_img {
                width: 65.23px;
                left: 5px;
            }

            &_subtitle {
                font-size: 15.6px;
                line-height: 22px;
            }

            &_price {
                font-size: 12.8px;
                line-height: 18px;
                &-total {
                    font-size: 11.3px;
                    line-height: 16px;

                }
            }

            &_counter-raise, &_counter-lower {
                width: 24px;
                height: 22.5px;
                background-size: 8.5px;
            }

            &_info {                
                &-2 {
                    padding-right: 20px;
                }

                &-1, &-2 {
                gap: 6px;
                }
            }

            &_counter {
                input {
                    width: 30px;
                }
            }            
        }

        &__form {
            gap: 5.69px;
            input {    
                border-radius: 7.09px; 
                width: 384.71px;
                background-size: 15.5px 21.3px;
                padding: 17.7px 0 17.4px 60px;
            }
            input::placeholder {
                font-size: 12.8px;
                line-height: 15px;
            }
        }

        &__price {
            &_sub {
                font-size: 14.2px;
                line-height: 17px;
                letter-spacing: -0.02em;
            }
            &_total {
                font-size: 17.8px;
                line-height: 17px;
                letter-spacing: -0.02em;
            }
        }

        &__pay {
            &_item:not(:last-child) {
                padding-top: 11px;
                padding-bottom: 4.8px;
            }
        }    

        &__pay {
            &_item {
                font-size: 14.22px;
                line-height: 16.71px;
                letter-spacing: -0.02em;
            }
        }

        &__price {
            &_sub {
                font-size: 14.22px;
                line-height: 17px;
                letter-spacing: -0.02em;
            }
            &_total {
                font-size: 17.78px;
                line-height: 21px;
                letter-spacing: -0.02em;
            }
        }

        &__form {
            input {
                width: 375px;
                padding: 17.1px 0;
                padding-left: 55px;
                background-position: 14.94px center;
            }
            input::placeholder {
                font-size: 18px;
                line-height: 21px;
                letter-spacing: -0.02em;
            }
        }
    }

    .blog {
        &__row {
            padding: 75px 0 86px;
            &-top {
                padding-top: 0px;
            }
        }
        &__title {
            padding-bottom: 53.73px;
            &-promo {
                margin-left: 20px;
            }
        }
        &__cards {
            row-gap: 21.33px;
            column-gap: 50.38px;
        }
        &__item {
            width: 270.6px;
            padding: 17.96px 14.5px 21.85px 14.5px;
            &_img {
                border-radius: 8.7px;
            }
            &_title {
                font-size: 15.03px;
                line-height: 18px;
            }
            &_text {
                &-1 {
                    font-size: 11.77px;
                }
                &-2 {
                    font-size: 12.1px;
                    line-height: 19px;                   
                }
                            
            }
            &_date {
                font-size: 11.27px;
                line-height: 22px;
            }    
            &_logo {
                width: 31px;
                height: 31px;
            }
        }
    }

    .content {
        margin-top: 90px;
        &__row {
            padding: 89.6px 0 120px;
        }
        &__article {
            &_title {
                font-size: 23.467px;
                line-height: 32px;
            }
            &_text {
                font-size: 15.64px;
                line-height: 32px;
            }
        }
    }

    .questions {
        &__row {
            padding: 72px 0 103px;
        }
        &__header {
            &_decor {
                top: -15px;
                right: 230px;
                width: 23.82px;
            }
        }
        &__item {
            padding: 30px 0 20px 8px;
            &_title {
                font-size: 16.65px;
                line-height: 42px;
            }
            &_question {
                &-active {
                    font-size: 14px;
                }
            }
            &_button {                
                margin-top: 9.38px;   
                background-size: 21.5px;
                svg {
                    width: 21.5px;
                }            
            }
            &_button.active {
                background-size: 21.5px;
            }
        }
    }

    .getsupersale {
        margin-top: 90px;
        &__row {
            padding: 40.5px;
            &_img {
                width: 195px;
                height: 196px;
                top: 51.24px;
                right: 45.5px;
            }
        }
        &__title {
            font-size: 50px;
        }
        input {
            width: 312.7px;
            padding: 15.5px;
            border-radius: 10.12px;
            font-size: 14px;
        }
        placeholder {
            font-size: 14px;
        }
    }

    .support {
        margin-top: 90px;
        padding: 145px 0 155px;
        &__row {            
            input, textarea {
                font-size: 12.88px;
                line-height: 19.3px;
                padding: 18.59px 18.59px 18.59px 18.02px;
                border-radius: 12.6px;
            }
            input {
                margin-bottom: 18.5px;
            }
            textarea {
                margin-top: 18.5px;
                margin-bottom: 25px;
                padding: 16.1px 16.1px 209.23px 16.1px;
            }
            &_left {
                width: 377px;
                left: -60px;
                background-position: 5.5% 5.75%;
            }
            &_right {
                width: 350.58px;
            }
        }
        &__title {
            font-size: 34.13px;
            line-height: 36px;
            &_img {
                &-1 {
                    width: 239px;
                    height: 90.7px;
                    top: 100px;
                }
                &-2 {
                    width: 216px;
                    top: 240px;
                    left: 270px;
                }               
                &-3 {
                    width: 100px;
                    // bottom: -60px;
                    left: -70px;
                }
                &-4 {
                    position: absolute;
                    right: -180px;
                    top: 210px;
                }
            }
            &_right {
                font-size: 28.44px;
                line-height: 39px;
                padding-bottom: 44px;
            }
        }
    }

    .popup {
        input {
            width: 100%;
            // border: 10.15px;
            padding: 17.39px 0 16.58px;
            padding-left: 75px;
            font-size: 11.86px;
            line-height: 18px;
        }
        &__left {
            &_form {
                gap: 17.39px;
            }
        }
        &__right {
            background-size: 388.27px;
            padding-bottom: 100px;
            background-position: 50% 25%;
        }
    }
    
    .map {
        margin-top: 90px;

    }
}

@media (max-width: 769px) {
    .btn {
        &--shop, &--like {
            top: -5px;
            svg {
                width: 25px;
                height: 25px;
                top: 15%;
                left: 28%;
            }
        }
        &--confirm {
            border-radius: 11.45px;
            font-weight: 600;
            font-size: 14.4px;
            line-height: 22px;
            letter-spacing: 0.03em;
        }
        &--send {
            border-radius: 11.45px;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.03em; 
            padding: 18px;  
        }
        &--apply {
            border-radius: 11.45px;
            width: 100%;
            font-weight: 600;
            font-size: 11.5px;
            line-height: 17px;
            letter-spacing: -0.01em;
        }
    
        &--apply-coupon {
            font-weight: 500;
            font-size: 10.8px;
            line-height: 13px;
            letter-spacing: -0.02em;
        }
        &--payment {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.01em;        
            margin-top: 39px;
           }
        &--get-started {
            font-weight: 500;
            border-radius: 9.9px;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.01em;
        }
        &--Go-pro {
            font-weight: 500;
            border-radius: 9.9px;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.01em;
        }
        &--download {
            display: flex;
            font-weight: 500;
            border-radius: 9.9px;
            font-size: 12px;
            line-height: 15px;
            span {
                margin-left: 15px;
                margin-top: 5px;
            }            
        }
        &--subscribe {
            font-size: 15px;
            font-weight: 500;
            border-radius: 9.9px;
            font-size: 9.6px;
            line-height: 14px;
            letter-spacing: 0.03em;    
        }
        &--next-article {
            display: flex;
            font-weight: 600;
            font-size: 11.5px;
            line-height: 14px;
            border-radius: 9.9px;
            span {
                margin-left: 25px;
                margin-top: 5px;
            }        
        }        
    }
  
    .promo {
        &__row {
            background-size: 380px 365px;
        }
        &__left {
            width: 470px;
        }
        &__text {
            max-width: 300px;
        }
    }

    .premium {
        &__row {
            padding: 18px 0;
        }
    }

    .quality {
        &__row {
            background-position: 30px 73.6px;
        }

        &__decor {
            &-3 {
                left: 250px;
            }
        }

        &__col {
            width: 350px;
            margin-left: 45%;
        }
    }

    .customer {
        // &__slider {
        //     &_control {
        //         // bottom: 10px;
        //         width: 100%;
        //     }
        // }
        &__button {
            width: 225px;
        }
    }

    .popup {
        &__left {
            &_form {
                width: 90%;
            }
            &_logo {
                padding: 31px 0 0 5%;
            }        
        }
        &__right {
            background-size: 320px;
        }
        input {
            border-radius: 11.45px;
        }
    }

    .support {
        padding: 51px 0 100px;
        &__row {            
            input, textarea {
                font-size: 11.04px;
                line-height: 17px;
            }
            input {
                padding: 20.5px 15.93px;
                margin-bottom: 12px;
            }
            textarea {
                padding: 13.79px 16.55px 179.21px;
                margin-top: 38.76px;
                margin-bottom: 22.1px;
            }
            &_left {
                height: 573.24px;
            }
            &_right {
                width: 320px;
            }
        }
        &__title {
            &_img {
                &-2, &-4 {
                    display: none;
                }
                &-3 {
                    bottom: -105px;
                    left: -55px;
                    width: 79px;
                }
            }
        }
    }

    .content {
        &__row {
            padding-bottom: 56.89px;
        }

        &__promo {
            padding-top: 0;
        }

        &__article {
            margin-right: 35px;
        }
    }

    .blog {
        &__promo {
            display: none;
        }

        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &_promo {
                gap: 30.88px;
            }
        }
    }

    .supersale {
        &__row {
            gap: 26px;
        }
        &__promo {
            width: 85%;
            &_decor {
                left: 61%;
                top: 190px;
                width: 40px;
            }
        }
        &__slider {
            &_item {
                width: 423px;
                padding-left: 20px;
                padding-top: 21.42px;
                padding-bottom: 56.02px;
            }
            &_img {
                width: 150px;
                height: 150px;
                top: 20px;
                right: 15px;
            }
            &_title {
                font-size: 50px;
            }
            &_promo {
                font-size: 45px;
            }
        }
        input {
            border-radius: 11.45px;
        }
    }

    .category {
        width: 290px;
        padding: 10.75px;
        &__price {
            margin-bottom: 25px;
        }
    }

    .questions {
        &__row {
            padding: 85px 0 66px;
        }
        &__header {
            &_decor {
                right: 120px;
            }
        }
        &__item {
            padding: 25px 0 20px;
            &_title {
                font-size: 16.54px;
                line-height: 42.13px;
            }
            &_button {
                margin-top: 10px;
            }
            &_question {
                // font-size: 14px;
                &-active {
                    font-size: 15px;
                }
            }
        }
    }

    .dishes {
        &__item {
            border-radius: 22.62px;
            // width: 146.93px;
            &_img {
                width: 150px;
            }
            &_like {
                top: 15px;
                right: 15px;
            }
            &_like-active {
                top: 15px;
                right: 15px;
            }
        }

        &__cards {
            gap: 35px;
            // justify-content: center;
            // flex-wrap: wrap;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 25px;
            padding-bottom: 0px;
        }

        // &__comment {
        //     font-size: 14px;
        //     // height: 15px;
        // }

        &__price {
            font-size: 22px;
            line-height: 26px;
            // align-items: baseline;
            // height: 26px;
            span {
                font-size: 12.30px;
                line-height: 26px;                
            }
        }

        &__add {
            width: 28.7px;
            height: 26px;
        }
    }

    .about {
        &__title, &__info_title, &__time {
            font-size: 23.6px;
            line-height: 28px;
        }
        &__text,  &__list_item, &__time_hour, &__info_tel {
            font-size: 15px;
            line-height: 23px;
            margin-left: 20px;
        }
    }

    .shopping__item_img-info {
        margin-left: 11.25px;
    }
}

@media (max-width: 426px) {
    .container {
        width: 86%;
    }

    .btn {  
        // &--shop, &--like {
        //     width: 40px;
        //     height: 30px;            
        //     svg {
        //         width: 20px;
        //         height: 20px;
        //         top: 15%;
        //         left: 23%
        //     }
        // }
        
        &--download {
            margin: 0 auto;
        }
        &--view-all {
            font-size: 20px;
            line-height: 45px;
        }
        &--payment {
            padding: 15px;
            margin-top: 0;
        }
    }

    .promo {
        &__row {
            background-size: 323px 288px;
            background-position: center 480px;
            display: flex;
            text-align: center;
            width: 100%;
            padding-top: 57px;
            height: 800px;
        }
        &__left {
            width: 100%;
            &_bottom {
                justify-content: center;
            }
        }

        &__line {
            width: 33.29px;
            left: 55px;
        }
        &__subtitle {
            margin-left: 0px;
        }

        &__title {
            font-size: 46.24px;
            line-height: 55px;
        }
        &__text {
            font-size: 11.1px;
            line-height: 17px;
            max-width: 95%;
            display: flex;
            margin: 0 auto;
        }
    }

    .premium {
        background-size: auto;
        &__col {
            flex-direction: column;
            align-self: center;
            padding: 18% 0;
            &:not(:first-child) {
                width: 246px;
                border-top: 1px solid #C5C5C5;
                
            }
        }

        &__row {
            flex-direction: column;
            padding: 20.5px 0;
        }

        &__title {
            font-size: 43.2px;
            line-height: 54px;
            padding-bottom: 10.8px;
        }

        &__text {
            font-size: 14.4px;
            line-height: 22px;
        }

        &__decor {
            &-1, &-2 {
                transform: rotate(280deg);
                top: -110px;
                left: -140px;
            }
            &-3, &-4 {
                transform: rotate(26.78deg);
                top: 620px;
            }
        }
    }

    .quality {
        &__row {
            padding: 47px 0px 570px;
            background-position: 50% 460px;
        }
        
        &__col {
            margin-left: 0px;
            width: 100%;
        }

        &__title {
            padding-bottom: 37px;
            font-size: 30px;
            line-height: 34px;
            text-align: center;
        }

        ul {
            width: 315px;
            margin-left: 20px;  
            padding-bottom: 19px;      
        }

        li {
            font-size: 11.96px;
            line-height: 18px;
            padding-bottom: 16px;
        }

        &__decor {
            &-2 {
                left: 25px;
                top: 35px;
                transform: rotate(110.82deg);
                svg {
                    width: 56.96px;
                    height: 101.14px;
                }
            }
            &-3 {
                left: 325px;
                top: 40px;
            }
        }

    }

    .dishes {
        &__row {
            padding: 92px 0;
        }
        &__cards {
            justify-content: center;
        }
        &__button-menu {
            position: absolute;
            top: 920px;
            left: 220px;
        }
        &__title {
            font-size: 30px;
            line-height: 36px;
        }
    }

    .customer {
        &__button {
            width: 117px;
        }
        &__slider {
            &_control {
                right: auto;
            }
        }
        &__item {
            flex: 0 0 353px;
        }
        &__item:nth-child(1) {
            transform: translate3d(575px, 0px, 0px);  
            transition: 1s ease-in-out;
        }
    
        &__item.active:nth-child(1) {
            transform: translate3d(0, 0px, 0px);  
            transition: 1s ease-in-out;
        }
    
        &__item.active:nth-child(2) {
            transform: translate3d(-400px, 0px, 0px);        
            transition: 1s ease-in-out;
        }
        &__item.active:nth-child(3) {
            transform: translate3d(-800px, 0px, 0px);        
            transition: 1s ease-in-out;
        }
    }

    .supersale {        
        &__row {
            flex-direction: column;
            align-items: center;
            padding-top: 61.58px;
        }
        &__promo {
            width: 100%;
            &_decor {
                top: 135px;
                width: 32px;
                left: 91%;
            }
        }
        &__slider {
            &_item {
                height: 120px;
                width: 365px;
            }

            &_title {
                font-size: 30.31px;
                line-height: 45px;
            }

            &_promo {
                font-size: 35.33px;
                line-height: 53px;
            }
            
            &_img {
                width: 102px;
                height: 103px;
                top: 40px;
            }
            
            input {
                align-self: center;
                width: 100%;
            }
        }  
        &__line {
            margin-bottom: 74.98px;
        } 
        input {
            padding: 20px 0 20px 31px;
        }
    }

    .questions {
        &__header {
            &_title {
                font-size: 23.6px;
                line-height: 28px
            }
            &_decor {
                right: 50px;
                width: 21.54px;
                top: -15px;
            }
        }
        &__item {
            min-height: 57px;
            &_title {
                font-size: 12.3px;
                line-height: 31px;
            }
            &_button {
                width: 15.82px;
               margin-top: 5px;
               background-size: 15.82px;
            }
            &_button.active {
                background-size: 15.82px;
            }
            &_question {
                &-active {
                    font-size: 11px;
                    line-height: 18px;
                }
            }
        }
    }   
    
    .category {
        width: 100%;
        padding: 26.82px;
        padding-bottom: 32.72px;
        &__item {
            width: 55.48px;
            height: 80.76px;
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                background-size: 28.98px 28.98px;
            }
            &_title {
                font-size: 11px;
                padding-top: 55px;
            }
        }
        &__price {
            margin-bottom: 10px;
        }
        
    }

    .blog {
        &__promo {
            display: none;
        }
        &__title {
            font-size: 25.71px;
            line-height: 31px;
        }
    }

    .content {
        &__article {
            margin-right: 0;
        }
        &__title {
            font-size: 22.39px;
            line-height: 27px;
        }
        &_text {
            &-2 {
                font-size: 15.48px;
                line-height: 24px;
            }
        }
        &__article {
            &_title {
                font-size: 17.36px;
                line-height: 23px;
            }
            &_text {
                font-size: 11.57px;
                line-height: 23px;
            }
        }
    }

    .support {
        &__row {
            &_left {
                display: none;
            }
            &_right {
                width: 100%;
            } 
            textarea {
                height: 210px;
            }           
        }
        &__title {
            &_right {
                display: block;
                margin-bottom: 46px;
                text-align: center;
                padding: 23.77px 0 97.23px;                
                background:#6C5FBC;
                color: white;
                font-size: 30px;
                line-height: 36px;
                span {
                    color: white;
                }
            }
            &_img {
                &-3 {
                    width: 85px;
                    bottom: 385px;
                    left: -5px;
                    top: 0px;
                    transform: rotate(65deg);  
                    path{
                        stroke: white;
                    }                 
                }
            }
        }
    }

    .shopping {
        padding-bottom: 0;
        &__row {
            width: 100%;
        }
        &__cards {
            &_decor {
                &-1 {
                    top: -15px;
                    right: -20px;
                    width: 20px;
                }
                &-2, &-3 {
                    display: none;
                }
            }
        }
        &__form form{
            input {
                width: 70%;
            }
        }
        &__pay {
            &_item {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: -0.02em;
            }
        }
    }

    .popup {
        margin-top: 100px;
        &__row {
            flex-direction: column;
            width: 100%;
        }
        &__right {
            display: none;
        }
        &__left {
            width: 100%;
            &_logo {
                display: none;
            }
        }            
    }

    .header {
        &__logo img{            
            width: 112.94px;
            height: 42.31px;           
        }

        &-popup  {
            display: block;
        } 

        &__menu.active {
            width: 100%;
        }
        &__burger.active {
            right: 20px;
        }
    }

    .footer {
        padding: 55px 0 32px;
        &__row {
            position: relative;
            img {
                width: 99.39px;
                height: 37.45px;
            }
        }

        &__nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__bottom {
            position: relative;
            right: -90px;
            width: 280px;
            padding-top: 26px;
        }

        &__socials {
            position: absolute;
            gap: 20px;
            right: 20px;
            top: -305px;            
        }

        &__icon svg {
            width: 16px;
        }

        .logo {
            align-self: self-start;
        }

        &__menu {
            display: flex;
            flex-direction: column;
            gap: 30px;
            line-height: 1.5;
            text-transform: capitalize;
            margin-top: 53.09px;            
        }

        &__item {
            align-self: stretch;
        }         
    }

    .menu__link {
        color: #606060;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 19px;
    }

    .footer-popup {
        display: flow;  
        &__row {
        display: grid;
        position: relative;
        }
        &__bottom {
            position: relative;
            right: -90px;
            width: 290px;
            padding: 40.53px 0 36px;
        }
        &__socials {
            position: absolute;
            gap: 20px;
            right: 20px;
            top: -235px;
        }
        .logo {
            align-self: self-start;
        }
        .menu {
            display: grid;
            gap: 30px;
            line-height: 1.5;
            text-transform: capitalize;
            margin-top: 53.09px;
        }
        .menu__link {
            color: #606060;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 19px;
        }
    }    

    .getsupersale {
        padding: 67px 0 120px;
        &__form {
            width: 100%;
        }
        input {
            padding: 15.5px;
            font-size: 12px;
        }
        &__row {
            padding: 35.64px 27.35px 95.73px 27.35px;
            &_img {
                width: 169px;
                height: 170px;
                top: 70%;
                right: 25%;
            }           
        }
        &__title {
            font-size: 41.45px;
            line-height: 62px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 376px) {
    .btn {
        &--apply-coupon {
            padding: 15px 24px;
        }
        &--view-all {
            margin-left: -36px;
        }   
    }

    .promo {
        &__row {
            background-size: 278px 250px;
            background-position: center 505px;
        }
        &__line {
            left: 15px;
        }
    }

    .container {
        width: 85%;
    }

    .header {
        &__button {
            position: absolute;
            right: 55px;
        }
        &__burger {
            margin-left: auto;
        }
    }
    
    .footer {
        &__bottom {
            width: 265px;
            right: -60px;
        }
    }

    // .dishes { 
    //     &__cards {
    //         gap: 20px;
    //     }  
    //     &__item {
    //         &_like {
    //             svg {
    //                 width: 14.36px;
    //                 height: 11.9px;
    //             }
    //         }
    //     }      
    // }

    .shopping {
        &__form input {
            width: 75%;
            padding: 15px 0;
            padding-left: 55px;
            background-position: 15px center;
        }
        &__item {
            // height: 64.87px;            
            &_info {
                &-2 {
                    padding-right: 15px;
                }
            }
            &_img {
                width: 55.05px;
                left: 8.73px;
                &-info {
                    margin-left: 8.38px;
                }
            }
            &_counter {
                &-raise, &-lower {
                    border-radius: 5.95px;
                    width: 20.02px;
                    height: 18.94px;
                }
            }
            &_subtitle {
                font-size: 13px;
                line-height: 18px;
            }
        }        
        
    }

    .support {
        &__row {
            input, textarea {
                font-size: 11.03px;
                line-height: 17px;
            }
        }

        &__title {
            &_right {
                display: block;
                height: 150px;
                margin-bottom: 46px;
                text-align: center;
                padding-top: 23.77px;
                background:#6C5FBC;
                color: white;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: -0.53px;
                span {
                    color: white;
                }
            }
            &_img {
                &-3 {
                    // display: none;
                    bottom: 385px;
                    left: 0px;
                    transform: rotate(51deg);                   
                }
            }
            input::placeholder, textarea::placeholder {
                font-size: 11.04px;
                line-height: 17px;
            }
        }
    }

    .quality {
        ul {
            margin-left: 0;
        }

        &__row {
            background-position: center 460px;
        }

        &__decor {
            &-2 {
                left: 10px;
            }
            &-3 {
                left: 280px;
                top: 45px;
            }
        }
    }

    .questions {
        &__header_decor {
            right: 30px;
        }
        &__item_button {
            margin-right: 5px;
        }
    }

    .customer {
        &__item {
            flex: 0 0 305px;
            padding: 10px;
        }
        &__item:nth-child(1) {
            transform: translate3d(575px, 0px, 0px);  
            transition: 1s ease-in-out;
        }
    
        &__item.active:nth-child(1) {
            transform: translate3d(0, 0px, 0px);  
            transition: 1s ease-in-out;
        }
    
        &__item.active:nth-child(2) {
            transform: translate3d(-350px, 0px, 0px);        
            transition: 1s ease-in-out;
        }
        &__item.active:nth-child(3) {
            transform: translate3d(-700px, 0px, 0px);        
            transition: 1s ease-in-out;
        }
        &__title {
            font-size: 30px;
            line-height: 36px;
        }
        &__button {
            width: 100px;
        }
        &__slider {
            &_control {
                width: 300px;
                left: 0px;
            }
        }
    }

    .content {
        &__title {
            font-size: 20px;
        }
    }

    .supersale {
        &__slider {
            &_item {
                width: 322px;
            }
            &__promo {
                &_decor {
                    top: -13px;
                    right: -18px;
                    width: 30px;
                }
            }
        }
    }

    .getsupersale {
        &__form {
            width: 100%;
            input {
                padding-left: 5px;
                font-size: 11px;
            }
        }
        placeholder {
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.03em;
            // padding-left: 5px;
        }
        &__row_img {
            right: 22%;
        }
    }

    .premium {
        &__decor {
            
            &-3, &-4 {
                top: 570px;
            }
        }
    }

}       

@media (max-width: 320px) {
    .footer {
        &__socials {
            gap: 15px;
            right: 10px;
        }
        &__bottom {
            right: -10px;
        }
    }
    
    .promo {
        &__row {
            background-size: 240px 220px;
            background-position: center 540px;
        }
        &__line {
            left: 0px;
        }
    }

    .customer {
        &__item {
            flex: 0 0 255px;
        }
        &__item.active:nth-child(1) {
            transform: translate3d(0, 0px, 0px);  
            transition: 1s ease-in-out;
        }
    
        &__item.active:nth-child(2) {
            transform: translate3d(-300px, 0px, 0px);        
            transition: 1s ease-in-out;
        }
        &__item.active:nth-child(3) {
            transform: translate3d(-600px, 0px, 0px);        
            transition: 1s ease-in-out;
        }
        &__button {
            width: 80px;
        }
        &__slider {
            &_control {
                width: 255px;
            }
        }
    }

    .dishes {
        &__button-menu {
            position: absolute;
            top: 1440px;
            left: 180px;
        }
    }

    .category {
        width: 275px;
        padding: 15px 15px 20px 15px;
    }

    .questions {
        &__item {
            &_question {
                &-active {
                    width: 80%;
                }
            }
            &_title {
                width: 200px;
            }
        }

        &__header {
            &_decor {
                right: 5px;
            } 
        }
    }  

    .quality {
        ul {
            width: 250px;
        }
        &__row {
            background-position: 20px 465px;
        }
        &__decor {
            &-2 {
                left: -15px;
                top: 50px;
                transform: rotate(105.82deg);
            }
            &-3 {
                display: none;
            }
        }
    }
   
    .supersale {
        &__promo {
            &_decor {
                left: 89%;
            }
        }
        &__slider {
            &_item {
                width: 272px;
            }
            &_img {
                width: 102.77px;
                height: 102.77px;
                right: 10px;
            }
        }
    }

    .shoping {
        &__form {
            input {
                width: 223px;
            }
        }
    }

    .btn {
        &--apply-coupon {
            width: 79.22px;
        }
    }

    .getsupersale {
        &__row {
            padding: 20px; 
            padding-bottom: 70px;
            &_img {
            right: 17%;
            top: 75%;
            }
        }
        &__form {
            &_button {
                right: 2px;
            }  
            input {
                font-size: 9px;
            }
        }
        
        
    }

    .premium {
        &__decor {
            
            &-3, &-4 {
                top: 520px;
            }
        }
    }

}